<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    As per our records, your availability has been set to recur from {date_begin} to {date_end}. If this auto-recurring availability is unexpected or needs to be modified, we kindly request that you log in to your account and cancel all your current availability. Once canceled, you can then proceed to set your availability according to your desired schedule.<br/>Furthermore, if you no longer wish to be visible to any learners or receive tutoring requests, please cancel all your availability and set your status to "Invisible" within your webpage account.<br/>Should you have any questions or require any further assistance, please do not hesitate to contact us. <br/>Thank you for your attention to this matter. We appreciate your ongoing commitment to the Virtually Tutor Overseas Young People Speaking English program.
 <br/><br/>To unsubscribe, please email us support@wespeakenglish.net. We will close your account.
 <br/><br/><font color="red"><i>If this email was misjudged as a spam, please set it as "Not a spam" or set this address as "Never block this sender" in your junk email setting.</i></font>
   
</div>

</body>
</html>
