<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
<b>Comment</b>: {comment}<br/><br/>
To check your partners' review history, log in to your website account->My Chats->All->Find Learner’s Comment of each chat.

 <br/><br/>WeSpeakEnglish Team  
 
<br/><br/><font color="red"><i>If this email was misjudged as a spam, please set it as "Not a spam" or set this address as "Never block this sender" in your junk email setting.</i></font>
</div>

</body>
</html>
