<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px;width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    <font color="red"><i>You can top up your account and receive a surprising bonus now! Click the TOP UP in your account.</i></font><br/><br/>
    Congratulation! We are pleased to inform you that video chat(s) with {teacher_name} have been successfully scheduled. Please note the following details:<br/> The chat(s) are scheduled on your <b>local time <br/>Time format:</b> 24h   <b>Time zone:</b> {location}<br/> {datetime}<br/>To begin the chat, please search <b>En Chat</b>(The app may not be listed on the top, please scroll down the app list until find it) in your smartphone APP stores or Play Store(Yingyongbao,360 for China users) and install it. <br/>Open the app <b>En Chat</b> to access your timetable. Use your email to log in. The password is the same as your account on our website.<br/><br/>If you need to make any changes to the scheduled time or cancel the chat(s), kindly visit our website, log in to your account, and navigate to the timetable section to submit your request. Please note that no penalties will be applied for cancellations made at least 1 hour before the scheduled chat start time.<br/><br/>
    During the chat session, if necessary, you can use the En Chat app to exchange text messages with your partner. Feel free to write any comments or notes regarding the conversation, and your tutor will receive them immediately after you submit them.<br/><br/>
        To ensure you don't miss the chat(s), we strongly recommend adding the appointment to your calendar or setting up an email reminder in your account.<br/><br/>
        We have also sent a new chat notification email to your partner. Once your partner confirms their availability to attend the appointment, you will receive a confirmation email. If you do not receive this confirmation, it is highly likely that your partner will not show up. In such cases, you have two options:  
        <br/>1. Cancel the current appointment and make a new appointment with another tutor. The service fee will be refunded and credited to your account. Please note that no penalties will be incurred for cancellations made at least 1 hour before the chat start time.
        <br/>2. However, please be aware that sometimes your partner may show up even if they did not click the confirmation button. Therefore, please enter the chatroom as scheduled and exit only if your partner fails to appear within 5 minutes. Otherwise, non-appearance will be recorded, and the service fee will not be refunded. <br/><br/>If you have any questions or need further assistance, please do not hesitate to contact us. We are here to ensure a smooth and successful chat experience for you.

         <br/><br/>
         <font color="red"><i>If this email was misjudged as a spam, please set it as "Not a spam" or set this address as "Never block this sender" in your junk email setting.</i></font>
 
 <br/><br/>WeSpeakEnglish Team  
   
</div>

</body>
</html>
