<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    The chat scheduled on {datetime} has been changed to {datetime_new} by {learner}. Please open the APP En Chat to check your updated timetable.<br/>Any questions please contact us.
 <br/><br/>To unsubscribe, please email us. We will close your account.

</div>

</body>
</html>
