<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Hi <b>{username},</b><br>
    Thank you for joining WeSpeakEnglish.<br>
    Your account is: {email}.<br>
    After successful email verification, you can use your email as your login account.<br>
    Please click the following link to verify:<br>
    <a href="{verify_url}">{verify_url}</a><br>
    If the above link doesn't work, please copy the address to the address bar of your browser to enter.<br/>Any questions please contact us.
    <br/><br/><font color="red"> <i>Sometimes new email senders may be misjudged as spam senders by some servers such as Gmail, Outlook, etc. Check your junk folder and set our email as "Not junk". If this email was treated as a spam, please report it as "Not a spam" or set this address as "Never block this sender" in your junk email setting.</i></font>

  
</div>

</body>
</html>
