<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Dear {tutor_name},<br/><br/>
	I am Leo, the coordinator of the <b>Virtually Tutor Overseas Young People Speaking English</b> program. <br/>
	It appears that your assigned learner {learner_name} did not attend the scheduled meeting today. We will reach out to him/her to inquire about the reason for the absence. <br/>To ensure the efficient use of your time, we kindly request that if the learner fails to join the chatroom within 5 minutes of the scheduled meeting time, you may exit the chatroom.<br/>
	<br/>We sincerely appreciate your passion for this program and your understanding in such situations. If you have any questions or need further assistance, please do not hesitate to contact us.

 <br/><br/>Leo (Coordinator)<br/>
Web: wespeakenglish.chat<br/>
<b>We Speak English Network</b>
 
</div>

</body>
</html>
