<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Dear {learner_name},<br/><br/>
	I am Leo, the coordinator of the <b>Practice speaking English with A Native</b> program. Thanks for your sign-up as a learner. <br/>
 It has come to my attention that you were unable to attend today's scheduled meeting with your tutor {tutor_name}. I would appreciate it if you could provide an explanation for your absence. If there is anything unclear or any assistance we can offer, please let us know. Your feedback is highly valuable to us, and I am eager to hear your thoughts. In the event that you are unable to attend future meetings, I kindly request that you promptly cancel them to avoid wasting your tutor's time.<br/>
	<br/>Any questions please contact us.

 <br/><br/>Leo (Coordinator)<br/>
Web: wespeakenglish.chat<br/>
<b>We Speak English Network</b>
 
</div>

</body>
</html>
