<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Hi&nbsp{name},<br/><br/>
    Please log in to the <u><b>En Chat</b></u> app to join the chat room on time and enjoy the conversation.<br/><br/>
	To unsubscribe from email notifications, please deselect the corresponding option in your account settings.<br/><br/>
Have a great time!<br/>
	WeSpeakEnglish Team
	<br/><br/><font color="red"><i>If this email has been mistakenly marked as spam, please mark it as "Not Spam" or add this address to your email whitelist to ensure future messages are delivered to your inbox.</i></font>
</div>

</body>
</html>
