<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    
        Welcome to join WeSpeakEnglish!<br/>
You are ready to go. Please take these steps:<br/>
<ol>
<li>Read the <a href="https://wespeakenglish.net/index/about/partner?type_id=1">guiding document</a> to know how the process goes.</li>
<li>Look for prospective learners who are eager to pratice speaking English with native speaker. Guide them to register as a learner.</li>
<li>Make sure all of them register with your account code(find the code in your account).</li>
<li>Encourage them to chat as more as possible.</li>
</ol>

   <b>Tips--how to let tutors get more chat chances?</b><br/>
    Any question please don’t hesitate to contact us.<br/>
    WeSpeakEnglish.net team<br/>
    Email: support@wespeakenglish.net<br/>
    <br/><br/>To unsubscribe, please email us. We will close your account.

</div>
<div style="text-align: center; padding: 0 0 50px;">
	<img src="https://www.wespeakenglish.chat/public/home/style/img/email_logo.png" width="240" alt="">
</div>
</body>
</html>
