<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>
<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Dear {learner_name},<br/><br/>
	I am Leo, the coordinator of the <b>Practice Speaking English with A Native</b> program. I hope this email finds you well. I regret to inform you that your assigned tutor was unable to attend the scheduled meeting today. It seems that they may have missed the notification email.<br/>
	We understand the importance of receiving the assistance you need, and we sincerely apologize for any inconvenience caused. To make up for the tutor's absence, we will provide you with a full refund for this session. In the meantime, we encourage you to proceed with booking a meeting with other available tutors through our platform. Our team is here to support you in finding a suitable replacement to continue your learning journey.
		<br/>Once again, we deeply appreciate your understanding and forgiveness in this matter. Should you have any questions or require further assistance, please do not hesitate to reach out to us. We are committed to ensuring your learning experience remains positive and beneficial.
	<br/>Thank you for your ongoing dedication and enthusiasm for this program.
	

 <br/><br/>Leo (Coordinator)<br/>
Web: wespeakenglish.chat<br/>
<b>We Speak English Network</b>
 
</div>

</body>
</html>
