<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Email</title>
</head>
<body>

<div style="line-height:28px;font-size: 16px;padding-top: 50px;padding-bottom: 60px; width: 100%;margin: 0 auto; max-width:650px;box-sizing: border-box">
    Welcome to join WeSpeakEnglish!<br/><br/> <font color="red"><b>A ${moneys} credit has been deposited into your account. You can use this balance to pay for at least {times} chats. You can top up your account and receive a surprising bonus.</b></font>Recommend you make multiple appointments with multiple tutors to choose a best one as your long-term partner.<br/><br/>
    

    We Speak English Network is a not-for-profit organization, founded by a group of caring Canadians to help native English speakers and overseas young people to set up a fabulous connection.We are dedicated to helping learners improve their speaking English skills at a very low cost. <br/><br/> 
    You are almost ready to meet your partner online. Please take these steps:<br/>
    <ol>
<li><font color="red"><b>Ensure your time zone match your actual location</b></font>, otherwise, you might make an appointment at an unexpected time because the tutors are in various time zone, and our system converts the time based on the time zones users set.</li>
<li>Select your partner from the tutor list(website). Pay for the chat(s).</li>
<li>Download and install the specific video chat app <u><b>En Chat</b></u> from your smartphone App store(The app may not be listed on the top, please scroll down the app list until find it). For users in China, please find it from Yingyongbao or 360. Use your email to log in. The password is the same as your account on our website. All chats will happen on this APP.</li>
<li>Recommend you enter the chat room 5 minutes prior to the chat start time and write a review afterward.</li>

</ol>
<br/>

<h2> Frequently asked questions you may be concerned about:</h2>

<b>Who will be my partner(tutor)?</b><br/>
Native English speakers from the US, UK, Canada, Australia, New Zealand, and other countries. Nice, patient, warmhearted retirees, energetic high school students, and other volunteers. Most of them are not professional tutors but can speak native English with you and they like to talk with overseas learners.<br/><br/>

<b>Is the chat free?</b><br/>

Most tutors volunteer to chat with you. Our platform charges $1.5 for each chat to cover our operating costs. Therefore, we could survive and provide sustainable service to all learners.
We are dedicated to providing users with a reliable, transparent, helpful, and affordable platform. Unlike other free apps, no ads in our app, and no personal information are collected except your email. Keep in mind that there is no real free stuff in the world, the price is always behind it.<br/>
Practice with a native is very efficient to improve your speaking skills. They can give you accurate feedback that a non-native cannot do. Strongly recommend you at least practice one time before the speaking test.<br/><br/>

<b>Can I get free chats?</b><br/>

To get more free chats, send your invitation code to invite your friends who want to improve their speaking skills to sign up. Find the code in your account. On a smartphone or tablet, log in to your account, click the right top button(3-solid-line icon), and the INVITATION CODE option will be seen. On the computer, the code is at the left bottom of the account webpage. Copy and send the code to your friends, and both of you will get a reward When they sign up successfully. Invite more, you will get more rewards for free chats. <br/><br/>

<b>Can I use a PC to video chat?</b><br/>
No. So far, the app is only available on smartphones and tablets. We will develop a PC version in the future. <br/><br/>
<b>Why video chat instead of voice chat?</b> <br/>
Because video chat is almost like a real face-to-face conversation. IELTS speaking test is face-to-face as well. You and your partner can see each other’s facial reactions which would make the conversation more natural. <br/><br/>
<b>Can I use voice chat only?</b><br/>
Yes. You can turn off the camera anytime and just use audio to chat with your partner but video chat is recommended. Don’t be shy, try the video chat before meeting your speaking test examiner.<br/><br/>
<b>What if I am dissatisfied with the tutor I choose?</b><br/>
If you are dissatisfied with the tutor you choose, you can quit the chat within 10 minutes without any charge.<br/><br/>

    Any questions please don’t hesitate to contact us. Have fun!<br/><br/>
    WeSpeakEnglish team<br/>
    
    <br/><br/><font color="red"><i>Sometimes new email senders may be misjudged as spam senders by some servers such as Gmail, Outlook, etc. Check your junk folder and set our email as "Not junk".</i></font>

</div>

</body>
</html>
