<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Welcome to join WeSpeakEnglish!<br/><br/>
    You are almost ready to meet your native English speaker online. Please take these steps:<br/><br/>
    <ol>
<li>Select your tutor from the tutor list. Pay for the chat(s).</li>
<li>Download and install the video chat app En Chat from your smartphone App store. Use your email to login. The password is same as your account on our website. All chats will happen on this APP.</li>
<li>Recommend you to enter the chat room 5 minutes prior to the chat start time and write a review afterward.</li>
</ol>
    
    Any questions please don’t hesitate to contact us. Have fun!<br/><br/>
    WeSpeakEnglish team<br/>
   
    <br/><br/>To unsubscribe, please email us. We will close your account.
<br/><br/>Sometimes new email senders may be misjudged as spam senders by servers such as Gmail, Outlook, etc. Check your junk folder and set our email as "Not junk".
</body>
</html>