{extend name="$_admin_base_layout" /}
{block name="plugins-css"}
<link rel="stylesheet" href="__LIBS__/bootstrap-datepicker/bootstrap-datepicker3.min.css">
<style type="text/css">
    .builder-table-wrapper{
        border-bottom: 1px solid #E9E9E9 !important;
        border-right: 1px solid #E9E9E9 !important;
    }
</style>
{/block}

{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="block">

            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="block-content">
                        <div class="row data-table-toolbar">
                            <div class="col-sm-12">
                                <form method="get" id="form_chart" action="{:url('index')}" >
                                    <div class="pull-right search-bar">
                                        <div class="toolbar-btn-action">
                                        </div>
                                    </div>
                                    <div class="toolbar-btn-action">
                                        <div class="form-inline time-filter">
                                            <div class="time-filter">
                                                <div class="input-daterange input-group" data-date-format="yyyy-mm-dd">
                                                    <select class="form-control" name="user_type" id="user_type">
                                                        <option value="0">用户身份</option>
                                                        <option value="1">学生</option>
                                                        <option value="2">老师</option>
                                                    </select>
                                                </div>
                                                注册天数：<input type="text" name="days" class="form-control" value="{:input('days',0)}">
                                                <select name="is_active" id="is_active" class="form-control">
                                                    <option value="0">设置可用时间</option>
                                                    <option value="1">没设置</option>
                                                    <option value="2">已设置</option>
                                                </select>
                                                <select name="is_paid" id="is_paid" class="form-control">
                                                    <option value="0">是否买课</option>
                                                    <option value="1">没买过</option>
                                                    <option value="2">已买过</option>
                                                </select>
                                                <select name="is_success" id="is_success" class="form-control">
                                                    <option value="0">是否上课</option>
                                                    <option value="1">买课了还没上</option>
                                                    <option value="2">已上过</option>
                                                </select>
                                                <input type="text" class="form-control" name="country" value="{:input('country')}" placeholder="国家名称">
                                                <input type="submit" name="submit" class="btn btn-default" value="搜索" />
                                                {if condition="input('submit')"}
                                                <input type="submit" name="export" class="btn btn-default" value="导出TXT" />
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="builder-table-wrapper" id="builder-table-wrapper">
                            <div class="col-sm-12">
                                {notempty name="email_list"}
                                <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
                                    <tbody>
                                    <tr>
                                        <td>
                                        {volist name="email_list" id="email"}
                                            {if condition="$i%10 == 1 && $i>1"}<br/>{/if}
                                            {$email};
                                            {/volist}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                {/notempty}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{/block}

{block name="script"}

<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="__LIBS__/bootstrap-datepicker/locales/bootstrap-datepicker.en-GB.min.js"></script>

<script src="__LIBS__/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__LIBS__/webuploader/webuploader.min.js"></script>
<script src="__STATIC__/admin/js/echart/echarts.min.js" type="text/javascript"></script>
<script src="__STATIC__/admin/js/echart/macarons.js"></script>
<script src="__STATIC__/admin/js/echart/china.js"></script>
<script>
    $('#user_type').val( {:input('user_type', 0)} );
    $('#is_active').val( {:input('is_active', 0)} );
    $('#is_paid').val( {:input('is_paid', 0)} );
    $('#is_success').val( {:input('is_success', 0)} );

    jQuery(function () {
        App.initHelpers(["datepicker"]);
    });
    $(document).ready(function () {
        var builder_table_head = $('#builder-table-head');
        var builder_table_left_body = $('#builder-table-left-body');
        var builder_table_right_body = $('#builder-table-right-body');
        var table_main = $('#builder-table-main');
        var table_body = $('#builder-table-body');
        var table_right = $('#builder-table-right');
        var table_head_col  = builder_table_head.find('col');
        var table_body_col  = table_body.find('col');
        var table_left_head_col  = $('#builder-table-left-head').find('col');
        var table_right_head_col = $('#builder-table-right-head').find('col');
        var table_left_body_col = builder_table_left_body.find('col');
        var table_right_body_col = builder_table_right_body.find('col');

        // $('#builder-table-wrapper').css('max-height', ($(window).height() - 80)+'px');

        table_body.css('max-height', $('#builder-table-wrapper').outerHeight() - 50);

        $.each(table_body_col, function (i, e) {
            var width = $(this).attr('width');
            table_head_col.eq(i).attr('width', width);
            table_left_head_col.eq(i).attr('width', width);
            table_left_body_col.eq(i).attr('width', width);
            table_right_head_col.eq(i).attr('width', width);
            table_right_body_col.eq(i).attr('width', width);
        });

        /* 监听滚动事件 */
        table_body.on( 'scroll', function (e) {
            builder_table_head.scrollLeft(this.scrollLeft);
            builder_table_left_body.scrollTop(this.scrollTop);
            builder_table_right_body.scrollTop(this.scrollTop);
        });

        if ($(window).width() > 768 && ($('#builder-table-main tbody').height() > table_body.height())) {
            $('#builder-table-head').css('margin-right', '17px');
            $('#builder-table-right').css('right', '17px');
        } else {
            $('.builder-table-right-header').hide();
            $('#builder-table-left,#builder-table-right').hide();
        }

        if (table_body.width() < $('#builder-table-main').width()) {
            builder_table_left_body.height(table_body.height() - 17);
            builder_table_right_body.height(table_body.height() - 17);
            table_right.height(table_body.height() + 33);
        } else {
            builder_table_left_body.height(table_body.height());
            builder_table_right_body.height(table_body.height());
            table_right.height(table_body.height() + 50);
        }

        /*行高亮*/
        var table_main_tr = table_main.find('tbody tr');
        var table_left_tr = builder_table_left_body.find('tbody tr');
        var table_right_tr = builder_table_right_body.find('tbody tr');
        table_main_tr.hover(function () {
            table_left_tr.eq($(this).index()).addClass('hover');
            table_right_tr.eq($(this).index()).addClass('hover');
        }, function () {
            table_left_tr.eq($(this).index()).removeClass('hover');
            table_right_tr.eq($(this).index()).removeClass('hover');
        });
        table_left_tr.hover(function () {
            table_main_tr.eq($(this).index()).addClass('hover');
            table_right_tr.eq($(this).index()).addClass('hover');
        }, function () {
            table_main_tr.eq($(this).index()).removeClass('hover');
            table_right_tr.eq($(this).index()).removeClass('hover');
        });
        table_right_tr.hover(function () {
            table_main_tr.eq($(this).index()).addClass('hover');
            table_left_tr.eq($(this).index()).addClass('hover');
        }, function () {
            table_main_tr.eq($(this).index()).removeClass('hover');
            table_left_tr.eq($(this).index()).removeClass('hover');
        });
    });
</script>

{/block}
