<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Student-submit-{:config('web_site_title')}</title>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/studentsucess.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/studentsucess_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
		<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a class="closex pn" href="/"></a>
    <div class="ncenter">Booking Success</div>
    {include file="public/nav_menu"}
</nav>


<div class="main">
    <img src="__HOME_IMG__/sucess.png" width="50" alt="">
<p class="bz">You have booked a tutor successfully. Please read the instruction in the email.<br>
    You can enter the chatroom up to 5 minutes prior to the chat start time.</p>
    <b>{$teacher.username}</b>
    <gid>Tutor</gid>
    <div class="classtbox">
    {volist name="lists" id="vo"}
    <classt><?php echo date('d-M', strtotime($vo['book_date'])); ?> <?php echo get_week(strtotime($vo['book_date'])); ?>  {$vo.time_begin}-{$vo.time_end}</classt>
    {/volist}
    </div>
    <p class="howto"><img src="__HOME_IMG__/qw.png" width="19" alt=""> Don’t know how to start the chat? <a href="{:url('about/help')}">click here</a></p>
    <div class="fixed"><a class="borderbt" href="{:url('index')}">Continue to book</a><a class="redbt" href="{:url('member/schedule')}">Enter Timetable</a></div>

    </div>

</div>
    {include file="public/footer"}
    {include file="member/member_js"}
<style>
	.main{
		min-height: auto;
	}
</style>
</body>
<script>


</script>
</html>