header nav.dif{background-image: url("../img/navbg_red.png")}
.htxt{
    width:580px;}
.htxt b{
    line-height: 80px;
    font-size: 7.2rem;}
.main{
    margin:0 auto 140px;
    width: 1260px;}
.main>img{vertical-align: top;
    margin-right: 120px;}
.main .contacbox {
    display: inline-block;
    width: 830px;
    font-size: 1.8rem;
    line-height: 40px;
    margin-top: 80px;
}
.main .contacbox .contactitem{
    margin-bottom: 60px;}
.main .contacbox .contactitem>*{
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: top;
}
.main .contacbox .contactitem i{
	font-size: 24px;
	margin-top: -5px;
}
.main .contacbox .contactitem>imgbox{
    width: 24px;text-align: center}
.main .contacbox .contactitem>t{
    width: 135px;
    text-transform: uppercase;
    color: #c5c1c0;
    font-family: Fjalla;
    padding-left: 20px;
}
.main .contacbox .contactitem>t a{
	text-transform: uppercase;
	color: #c5c1c0;
	font-family: Fjalla;
	text-decoration: none;
}
.main .contacbox .contactitem img{
	   
	    width: 100px;
	    box-shadow: 1px 1px 20px rgb(0 0 0 / 10%);
	    background: #fff;
	    border-radius: 5px;
	    padding: 5px;
}
.logined .searchtu {
    color: #fff;
    border-color: #fff;
}
nav.wBG .logined .searchtu {
    color: #e54a3a;
    border-color: #e54a3a;
}
.main .contacbox .contactitem p a{font-style: italic; color: #1b76b7;}
.logined .bell{
    background-image: url("../img/bell_w.png");
    background-size: contain;
}
.logined .bell img{visibility: hidden}
.dif.wBG .logined .bell{
    background-image: url("../img/bell.png");
}
.user_type_1 .logeduser{
    background-image: url("../img/learner_w.png");
    /* background-size: auto 17px; */
}.user_type_1 .logeduser.click{
     background-image: url("../img/learner_o.png")!important;
 }
.dif.wBG .user_type_1 .logeduser{
    background-image: url("../img/learner_b.png");
}
.user_type_2 .logeduser{
    background-image: url("../img/tutor_w.png");
    padding-left: 35px;
    /* background-size: auto 17px; */
}