@font-face {
  font-family: "iconfont"; /* Project id 2370816 */
  src: url('iconfont.woff2?t=1629601791858') format('woff2'),
       url('iconfont.woff?t=1629601791858') format('woff'),
       url('iconfont.ttf?t=1629601791858') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconleaner-tutor-list-bold:before {
  content: "\e640";
}

.iconchats:before {
  content: "\e63a";
}

.iconpartner:before {
  content: "\e63b";
}

.iconpartner-help:before {
  content: "\e63c";
}

.iconPDF:before {
  content: "\e63d";
}

.icontutors:before {
  content: "\e63e";
}

.iconcertifi:before {
  content: "\e63f";
}

.iconsetting:before {
  content: "\e638";
}

.iconback-arrow1-copy:before {
  content: "\e639";
}

.iconaccount-notice:before {
  content: "\e608";
}

.iconaccount-icon-code:before {
  content: "\e609";
}

.iconaccount-learner:before {
  content: "\e60a";
}

.iconaccount-partner:before {
  content: "\e63b";
}

.iconaccount-set:before {
  content: "\e60b";
}

.iconaccount-signout:before {
  content: "\e60c";
}

.iconaccount-tutor:before {
  content: "\e60d";
}

.iconaccount-balanceandtutor-list-price:before {
  content: "\e60e";
}

.iconbalance-refund:before {
  content: "\e60f";
}

.icondate-arrow1:before {
  content: "\e610";
}

.iconback-arrow1:before {
  content: "\e611";
}

.iconclose:before {
  content: "\e612";
}

.iconcheck:before {
  content: "\e613";
}

.iconcheck-right:before {
  content: "\e614";
}

.iconchat:before {
  content: "\e615";
}

.iconLINK-facebook:before {
  content: "\e616";
}

.iconhelp-arrow:before {
  content: "\e617";
}

.iconleaner-mycart:before {
  content: "\e618";
}

.iconemail:before {
  content: "\e619";
}

.iconleaner-tutor-list:before {
  content: "\e61a";
}

.iconhelp:before {
  content: "\e61b";
}

.iconpage-icon-1:before {
  content: "\e61c";
}

.iconpage-icon-4:before {
  content: "\e61d";
}

.icongift:before {
  content: "\e61e";
}

.iconplay:before {
  content: "\e61f";
}

.iconleaner-myclass:before {
  content: "\e620";
}

.iconbalance-bag:before {
  content: "\e621";
}

.iconTOP:before {
  content: "\e622";
}

.iconpage-learner-icon2:before {
  content: "\e623";
}

.iconSET1:before {
  content: "\e624";
}

.iconphone-menu-icon:before {
  content: "\e625";
}

.iconnight:before {
  content: "\e626";
}

.iconsearch:before {
  content: "\e627";
}

.iconLINK-twiiter:before {
  content: "\e628";
}

.iconstar:before {
  content: "\e629";
}

.icontutor-list-phone-from:before {
  content: "\e62a";
}

.iconTUTOR-icon-timetable:before {
  content: "\e62b";
}

.iconLINK-wechat:before {
  content: "\e62c";
}

.iconwrong:before {
  content: "\e62d";
}

.icontutor-list-phone-score:before {
  content: "\e62e";
}

.iconTUTOR-icon-myclass:before {
  content: "\e62f";
}

.iconpage-icon-3:before {
  content: "\e630";
}

.icontutor-list-score:before {
  content: "\e631";
}

.iconsun:before {
  content: "\e632";
}

.iconpage-icon-5:before {
  content: "\e633";
}

.iconpage-tutor-icon-2:before {
  content: "\e634";
}

.iconshanchu-0208-tr1:before {
  content: "\e635";
}

.icontutor-account-avli:before {
  content: "\e636";
}

.icontutor-list-phone-time:before {
  content: "\e637";
}

