nav{background:#fff;box-shadow:0 5px 25px rgba(220,220,220,0.6);}
nav a{vertical-align: middle;
    color: #424242;}
nav .logo {
    background-image: url("../img/logoblue.png");
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
a{
    color: #83523b;
text-decoration: none}
nav .logo{
    background-image: url("../img/logoblue.png");
}
.logined{
    width: 100px;}
body{background: #F8F8F8}
nav div span a{text-transform: none;text-decoration: none}
nav div span line{
    padding-left: 14px;
    padding-right: 14px;}
nav div span .blue{
    color: #83523b;}
nav div.who\?{
    display: none;}
nav .on{
    color: #83523b;}
nav .on::after {
    background: #83523b;
    width: 40px;
    height: 2px;
    content: " ";
    top: 10px;
    position: relative;
}
.usertype_2 nav .on{
    color: #83523b;
}
.usertype_2 nav .on::after{
    background: #83523b;
}
.main{
    width: 100%;max-width: 1260px;
    margin: 54px auto 80px auto;
}
.myclass{
    width: 100%;
    border-radius: 10px;
    padding:40px 46px;
background: #fff}
.myclass .tabs{
	margin: 15px 0 0 0;
	white-space: nowrap;
border-bottom: 1px solid #ddd}
.myclass .boxt{
    cursor: pointer;
    bottom: -1px;
    padding: 18px 14px;
    display: inline-block;
	font-size: 14px; 
	margin-right: 50px;}
.myclass .boxt.g{
    border-bottom: 1px solid #83523b;
    color: #83523b;}
.usertype_2 .myclass .boxt.g{
    border-bottom: 1px solid #83523b;
    color: #83523b;}
.classli li{
    display: none;}
.classli li:first-child{
    display: block;}
.classbox{justify-content: space-between;
	position: relative;
    padding-top: 30px;
    padding-bottom: 30px;}
.classbox:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-image: linear-gradient(to right, #e3e3e3 0%, #e3e3e3 50%, transparent 0%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
}
.classbox:last-child:after{
	background:#e3e3e3
}
.classbox leftt{
    width: 50%;}
.classbox headinfo{
    width: 410px;}
.usertype_2 .classbox headinfo name{
    color: #83523b;
    font-size: 1.4rem;
    cursor: pointer;
    }
.classbox headinfo name a{
	text-decoration: none;
	font-size: 14px;
}
.classbox headinfo time{
    font-family: Fjalla;
    margin-top: 14px;
    color: #999;
    display: block;}
.classbox.comp headinfo time{
    font-family: Fjalla;
    margin-top: 14px;
    color: #555;
    display: block;
}
.classbox.comp price{
	font-size: 14px;
}
.classbox headinfo{vertical-align: top;
    display: inline-block;}
.classbox  price{
    color: #999;
    vertical-align: top;
    display: inline-block;}
.classbox.comp price{
    color: #555;
}
.classbox staus{
    color: #999;
    margin-left: 230px;
    width: 140px;
    text-align: center;
    display: inline-block;
}
.classbox.comp staus{
    color: #555;
	font-size: 14px;
}
.myclass .ht{
	display: block;
	position: relative;
}
.mycart .myclass .ht{
 border-bottom: 1px solid #f1f1f1;
    padding-bottom: 18px;
}
.myclass .ht b{
    font-size: 2.6rem;
    font-family: Fjalla;
    text-transform: uppercase;
    color: #83523b;}
.myclass .ht a{
    font-size: 2rem;
    color: #83523b;
    font-family: Fjalla;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    padding-left: 36px;
    background:url("../img/backarbrown.png") left center no-repeat;
	position: absolute;
	right: 0;
}
.myclass .ht span{
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	color: #bcbcbc;
}
.myclass .ht span i{
	font-style: inherit;
	font-size: 20px;
	font-family: Fjalla;
}
.usertype_2  .myclass .ht b{
    color: #83523b;
}
.usertype_2  .myclass .ht a{
    color: #83523b;
    background-image:url("../img/backarbrown.png");
}
.classbox comminfo{
    color: #999;
    padding-right: 20px;
    background: url("../img/grayright.png") center right no-repeat;
    background-size: 14px auto;
}
.classbox  comminfo.green{
    color: #42c9b9;
    background-image: url("../img/greenright.png");
    cursor: pointer;
}
.popreview{
    position: fixed;
    padding: 40px 30px;
    left: 50%;
    width: 100%;background:#fff;
    max-width: 1000px;
    border-radius: 10px;
    top: 50%;
    display: none;
    transform: translate(-50%,-50%);
    z-index: 14;
}
.popreview >img{cursor: pointer;
    width: 16px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
}
.popreview rt{
    margin-bottom: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ddd;
    display: block;}
.popreview rt b{
    vertical-align: middle;
    font-family: Fjalla;
    margin-right: 28px;
    color: #83523b;
    text-transform: uppercase;
    font-size: 2rem   ;}
.popreview rt name{ color: #83523b;    vertical-align: middle;
    margin-right: 20px;
    font-size: 1.6rem;}
.popreview rt name img{
    height: 20px;
	border-radius: 4px;
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
	/*  */
	}
.popreview rt vline{    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
    width: 1px;
    height: 16px;
background: #ddd}
.popreview rt time{    vertical-align: middle;
    font-family: Fjalla;
    font-size: 1.6rem;}
.popreview p{
    font-size: 1.4rem;line-height: 1.6}
.popreview btime{
    display: block;
    font-size: 1.4rem;
    margin-top:12px;
    color: #ddd;}
.usertype_1 .logeduser{
    background-image: url("../img/partner_b.png");
	padding-left: 25px;
}
.usertype_2 .logeduser{
    background-image: url("../img/partner_b.png");
	padding-left: 25px;
    /* padding-left: 38px; */
    /* background-size: auto 17px; */
}
.logined.user_type_2 .logeduser.click,
.logined.user_type_1 .logeduser.click,
.logeduser.click{
	background-image: url("../img/partner_o.png") !important;
}
.logeduser.click .rar{
	background-color: #83523b !important;
}
/*order*/
.mycart .classbox headinfo{
    display:block;
}
.classbox headinfo name{
    font-size: 14px;
    color: #83523b;}
.mycart rightt{
    display: flex;align-items: center;
    justify-content: flex-end;
    width: 110px;
    text-align: center;
    flex-direction: column-reverse;
}
.mycart .abar{
    font-family: Fjalla;
    font-size: 16px;
    color: #83523b;
    margin-top: 6px;
    text-transform: uppercase;
    cursor: pointer;
background-repeat: no-repeat;
background-position: right center;
    background-size:8px auto;
    padding-right: 14px;
    background-image: url("../img/redthr.png")
}
.mycart .shrink{
    background-image: url("../img/redthr_up.png")
}
.mycart .classbox.comp  headinfo time{
    display: none;
    margin-top: 8px;
}
.mycart .classbox.comp  headinfo time dib{
    font-family: Fjalla;
    font-size: 14px;
}
.mycart .classbox.comp  headinfo time:first-of-type{
    display: block!important;}
.mycart midt{
    width: 20%;
    padding-top: 10px;
    display: flex;
justify-content: space-between}
.mycart uprice{
    font-size: 14px;
    line-height: 20px;
}
.mycart tprice{
    font-size: 14px;    line-height: 20px;
    font-weight: bold;}
.mycart a{  font-size: 14px;  text-decoration: none;}
.mycart a.bt{
    text-align: center;
    color: #fff;
    text-decoration: none;
    width: 110px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #83523b;
    border-radius: 6px;
    margin-bottom: 15px;
    font-family: Fjalla;
}
.mycart  .classbox.exped time{
    opacity: 0.5}
.mycart  .classbox.exped .abar{
    opacity: 0.5;    filter:grayscale(100%);
    cursor: none;
    text-transform: capitalize;
    pointer-events: none;
}
.mycart .classbox midt{
    padding-top: 0;
}
.mycart .classbox.exped uprice,.mycart .classbox.exped tprice{
    opacity: 0.5}
.mycart  .classbox.exped a{opacity: 0.5;filter:grayscale(100%);
}
.mycart  .classbox.exped a.bt{
    display: none;
}
.mycart .classbox.exped rightt a{
    pointer-events: none;
    cursor: none;
}
.canelorder{
    width: 300px;
    border-radius:8px;
    text-align: center;
    background-color: #fff;
    padding:30px;
    display: none;
    position: fixed;
    top: 50%;
    z-index: 14;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 3px 15px rgba(22,22,22,0.4);
}
.canelorder p{
    font-family: Fjalla;
    color: #555; font-size: 16px;
    margin-bottom: 25px;
}
.canelorder .closex{
    position: absolute;
    right: 15px;
    top: 15px;
    width:14px;
    cursor: pointer;
    opacity: 0.8;
}
.canelorder button.no{
    color: #83523b;
    width: 110px;
    font-family: Fjalla;
    background-color: #fff;vertical-align: middle;
    border: 2px solid #83523b;  height: 34px;
    line-height: 34px;
    border-radius: 6px; cursor: pointer;
    font-size: 16px;    margin-right: 8px;
}
.canelorder button.confirm{
    font-family: Fjalla;
    margin-left: 8px;
    color: #fff;    width: 110px;
    background-color:#83523b;vertical-align: middle;
    height: 34px; cursor: pointer;
    line-height: 34px;    border-radius: 6px;
    font-size: 16px;
}
.popstu{
    position: fixed;
    padding: 40px 30px;
    left: 50%;
    width: 100%;background:#fff;
    max-width: 1000px;
    border-radius: 10px;
    top: 50%;
    display: none;
    transform: translate(-50%,-50%);
    z-index: 14;
}
.popstu >img{cursor: pointer;
    width: 16px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}
.popstu topt{
    margin-bottom: 30px;
    padding-bottom: 26px;
    border-bottom: 1px solid #ddd;
    align-items: center;
    display: flex;}
.popstu topt name{ color: #83523b;    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 0;
    padding-right: 0;
    font-size: 1.6rem;}
	
.usertype_2 .popstu topt name,
.usertype_2 .popreview rt name,
.usertype_2 .popreview rt b{
	color: #83523b;
}
.usertype_1 .popstu topt name,
.usertype_1 .popreview rt name,
.usertype_1 .popreview rt b{
	color: #83523b;
}

.popstu topt name img{
    margin-left: 10px;
    vertical-align: center;
    height: 20px;
	border-radius: 4px;}
.popstu topt vline{    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ddd}
.popstu topt div{
    white-space: nowrap;
    padding-right: 40px;}
.popstu topt div label{
    color: #c1c1c1;
    padding-right: 20px;
}
.popstu p{font-size: 1.4rem;line-height: 1.6; font-size: 16px;}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.membersRowName{
	width: 46%;
	text-indent: 20px;
}
.membersRowMain .membersRowName{
	text-indent: 5px;
}
.membersRow{
	position: relative;
}
.membersRow>div{
	float: left;
	line-height: 60px;
}
.membersRowScore,
.membersRowChat,
.membersRowStatus{
	width: 18%;
	text-align: center;
}
.membersListLearners .membersRowScore,
.membersListLearners .membersRowChat,
.membersListLearners .membersRowStatus{
	width: 22%; 
}
.membersRowTitle{
	background: #f8f7f6;
	border-radius: 5px;
	margin-top: 30px;
	position: relative;
}
.membersRowTitle>div{
	line-height: 40px;
}
.membersRowLine{
	display: block;
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-image: linear-gradient(to right, #e3e3e3 0%, #e3e3e3 50%, transparent 0%);
	background-size: 10px 1px;
	background-repeat: repeat-x;
}
.membersRowMain{
	margin: 0 15px;
} 
.membersRowMain .membersRowName{
	color: #007edb;
}
.usertype_1 .membersRowMain .membersRowName{
	color: #e54a3a;
}
.membersRowMain .membersRowScore i{
	color: #e9ae54;
	font-size: 20px;
}
.membersRowMain .membersRowScore{
	color: #e9ae54;
}
.membersList{
	border-bottom: 1px solid #f1f1f1;
}
.membersRowMain:last-child .membersRowLine{
	display: none;
}
.statusDrop{
	display: inline-block;
	position: relative;
	text-align: left;
}
.statusDropBtn{
	cursor: pointer;
	display: inline-block;
	padding-right: 20px;
}
.statusDropBtn i{
	font-weight: bold;
	transform:rotate(180deg);
	position: absolute;
	right: 0;
	top: 1px;
}
.statusDropList{
	position: absolute;
	top: 20px;
	background: #fff;
	box-shadow: 0 0 10px rgb(20 20 20 / 10%);
	border-radius: 10px;
	z-index: 999999;
	padding: 10px 15px; 
}
.statusDropList li{
	line-height: 30px;
	cursor: pointer;
	padding-left: 25px;
	position: relative;
	font-size: 14px;
}
.statusDropList li:hover{
	color: #83523b;
}
.statusDropList li:hover i{
	border: 1px solid #83523b;
}
.statusDropList li.active i{
	color: #fff;
	background: #83523b;
	border: 1px solid #83523b;
}
.statusDropList li.active i::before{
	display: block;
}
.statusDropList i{
	font-size: 11px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #ccc;
	font-weight: bold;
}
.statusDropList i::before{
	display: none;
}

.popstuNew{
	
	position: fixed;
	padding: 40px 30px;
	left: 50%;
	width: 100%;
	background: #fff;
	max-width: 1000px;
	border-radius: 10px;
	top: 50%;
	display: none;
	transform: translate(-50%, -50%);
	z-index: 14;
}

.popstuNew>img {
	cursor: pointer;
	width: 16px;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 1;
}

.popstuNew topt {
	margin-bottom: 30px;
	padding-bottom: 26px;
	border-bottom: 1px solid #ddd;
	align-items: center;
	display: flex;
}

.popstuNew topt name {
	color: #e54a3a;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 0;
	padding-right: 0;
	font-size: 1.6rem;
}

.usertype_2 .popstuNew topt name,
.usertype_2 .popreview rt name,
.usertype_2 .popreview rt b {
	color: #007edb;
}

.usertype_1 .popstuNew topt name,
.usertype_1 .popreview rt name,
.usertype_1 .popreview rt b {
	color: #83523b;
}

.popstuNew topt name img {
	margin-left: 10px;
	vertical-align: center;
	height: 20px;
	border-radius: 4px;
}

.popstuNew topt vline {
	vertical-align: middle;
	margin-right: 20px;
	display: inline-block;
	width: 1px;
	height: 16px;
	background: #ddd
}

.popstuNew topt div {
	white-space: nowrap;
	padding-right: 40px;
}

.popstuNew topt div label {
	color: #c1c1c1;
	padding-right: 20px;
}

.popstuNew p {
	font-size: 1.4rem;
	line-height: 1.6;
	font-size: 16px;
}