nav{box-shadow: none}
nav.wBG{box-shadow: 0 5px 25px rgba(220,220,220,0.6);}
nav>.logobox{display: none}
nav .backar{background: url("../img/backar.png") center center no-repeat;
    background-size: contain;
    width: 13px;
    height: 22px;}
nav a.blue{text-transform: none;
    font-size: 1.4rem;
    color: #007edb;}
nav .hanbugrmenu{
    background-image: url("../img/habmenu_b.png");
}
nav div.who\? span a.sout{
   /* background-image: url("../img/signout.png"); */
}
body{background: #fff}
p.topT{
    font-size: 4.6rem;align-items: center;
    text-align: center;
    margin-top: 0px;}
p.topT::after {
    width: 180px;
    height: 16px;}
P.topT > a{
    display: none;}
.main{
    margin-top: 15px;}
.ht>a{
    display: none;}
.withdrawinput{flex-wrap: wrap}
.withdrawinput > label{
    width: 85px;
}
.withdrawinput.amount label{
    margin-bottom: 15px;
    width: 100%;
    }
.withdrawinput .msinfo{
    left: 0;
    padding-left: 5px;
    text-align: left;
    width: 100%;
	font-size: 13px;
	bottom: -28px;}
.footwrap{
    display: none;}
.withdrawinput.paypal label{    width: 100%;
    margin-bottom: 10px;}
.withdrawinput.paypal > input{
    width: 210px;}

.withdrawinput input[type="submit"]{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.n_footerMain{
	display: none;
}
.withdrawinput.amount input{
	
	max-width: 100%;
}
.withdrawinputCode{
	width: 150px !important;
}
.withdrawinput textarea{
	height: 100px;
}