<!DOCTYPE html>
<html lang="en">
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>

<head>
    <meta charset="UTF-8">
    <meta name="sogou_site_verification" content="P6Ca0begBo" />
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
   
    <title>Find English speaking partner, Practice speaking with a native</title>
    <meta name="description" content="Native English speakers tutor speaking English. Learners find a native English speaker to practice speaking English.">
    <link rel="canonical" href="https://wespeakenglish.chat"/>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/index.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/index_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
    <style type="text/css">
        .pc_pic {
            width: 100%;
            /* 已知图片尺寸 544x184px，图片宽度等同 100vw，比例约为：2.96 */
            height: calc(100vw/2.318);
        }
        .wap_pic {
            width: 100%;
            height: calc(100vw/0.595);
        }
        .wap_pic img, .pc_pic img {
            background-color: #fff;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <nav class="dif homeNav">
        {include file="public/nav_menu"}
    </nav>
    <div class="htxt pcHtxt">
        <!--<b>{$ads_top.name}</b>
        <s>{$ads_top.content|nl2br|raw}</s>-->
		<h1><b>Conversation brings us closer </b></h1>
		<s>Create a world where people can connect with each other, and where everyone has the opportunity to learn and grow</s>
    </div>
	
	<div class="htxt phoneHtxt">
	    <!-- <b>{$ads_top.name}</b>
	    <s>{$ads_top.content|nl2br|raw}</s> -->
		<b>Conversation <br>brings us closer </b>
		<!--	<s>DAY ONE or ONE DAY? <br>You decide it.</s>
		<s>Our vision is to build a <br>bridge for worldwide <br>people to communicate <br>better in English. </s>-->
		<!--<s>Our vision is to <br>let worldwide people to<br> communicate better in English. </s>-->
	</div>
	
   <!--<img src="{$ads_top.src|get_file_path}" class="mn" alt="">
    <img src="{$ads_top.src_wap|get_file_path}" class="pn" alt="">-->
    <div class="mn pc_pic">
    <img src="__HOME_IMG__/indeximg_pc.jpg" class="lazyload" alt="Young lady video chat with a boy"  title="Improve Speaking English">
    </div>
    <div class="pn wap_pic">
    <img src="__HOME_IMG__/indeximg_mb.jpg" class="lazyload" alt="Young lady video chat with a boy"  title="Improve Speaking English">
    </div>
	
</header>

<p class="indexT">Empowering Learners,<br>Engaging Tutors</p>
<div class="main clearfix">
    <img src="__HOME_IMG__/index_pic.png" class="left" alt="A college student video chat with an elder lady" title="Practice English with a native">
    <div class="tobe right">
<div class="betutor">
    <t>As a volunteer tutor, you can</t>
    <p><!--{$ads_tutor.content|nl2br|raw}-->
	<!--<ul>
        <li>1 on 1 chat with worldwide young people to learn about exotic cultures and stories</li>
        <li>Touch the world your own way</li>
        <li>Share your precious life experience with them</li>
		<li>Find fun and enrich your life</li>
        <li>Help your partner improve English speaking skill</li>
		<li>Get respect from your partner</li>
        <li>Get reward for your time and cash it for yourself or others</li>
        
		
    </ul>-->
	    <span class="listStyle">Engage with learners worldwide </span>
        <span class="listStyle">Explore diverse cultures & gain new perspectives</span>
        <span class="listStyle">Help learners develop conversational skills & confidence</span>
		<span class="listStyle">Build meaningful relationships</span>
        <span class="listStyle">Foster global connection & education</span>
    </p>
    {if condition="!$user_id"}
   <dif style="margin-bottom: -20px;"><a href="{:url('register/tutor')}"><img src="__HOME_IMG__/Betutor.png" alt="sign up button" title="become a tutor"></a> <a href="{:url('sign/tutor')}">sign in </a></dif>
    {/if}
</div>
<div class="learner" style="padding-top: 20px;">
    <t>As a learner, you can</t>
    <p><!--{$ads_learner.content|nl2br|raw}-->
        <span class="listStyle">Practice English with native speakers</span>
        <span class="listStyle">Develop conversational fluency</span>
        <span class="listStyle">Refine pronunciation & listening skills</span>
		<span class="listStyle">Get feedback in real-time</span>
        <span class="listStyle">Access affordable learning resources</span>
			
    </p>
    {if condition="!$user_id"}
    <dif><a href="{:url('register/learner')}"><img src="__HOME_IMG__/Belearner.png" alt="learner sign up button" title="become a learner"></a> <a href="{:url('sign/learner')}">sign in </a></dif>
    {/if}
</div>

</div>
</div>
    {include file="public/footer"}
<script type="text/javascript" charset="utf-8">
    const [img] = $('.pc_pic img');
    img.onload = (evt) => {
        evt.currentTarget.style.backgroundColor = 'transparent';
    }
</script>
<style>
.listStyle{
	display: block;
	padding: 0 0 0 20px;
	position: relative;
	color: #555;
	font-size: 20px;
	line-height: 30px;
}
.listStyle::after{
	width: 6px;
	height: 6px;
	display: block;
	content: '';
	position: absolute;
	border-radius: 6px;
	background: #1b76b7;
	left: 0;
	top: 12px;
}
.learner .listStyle::after{
	background: #e54a3a;
}
</style>
</body>
</html>