<!DOCTYPE html>
<html lang="en">
    

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Volunteer tutors chat with young people, tutor speaking English</title>
    <meta name="description" content="Volunteers tutor young people English virtually，explore exotic cultures, and make friends through the 1-on-1 video chat">
    <link rel="canonical" href="https://wespeakenglish.chat/tutor.html"/>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/tutor.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/tutor_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
	
	<!-- Event snippet for Page view conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-16573727679/pvTICN7vqLIZEL-H_N49'});
</script>

    <style type="text/css">
        .pc_pic {
            width: 100%;
            /* 已知图片尺寸 544x184px，图片宽度等同 100vw，比例约为：2.96 */
            height: calc(100vw/2.318);
        }
        .wap_pic {
            width: 100%;
            height: calc(100vw/0.595);
        }
        .wap_pic img, .pc_pic img {
            background-color: #fff;
            width: 100%;
            height: 100%;
        }
    </style>
    
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <nav class="dif homeNav">
        {include file="public/nav_menu"}
    </nav>
    <div class="htxt pcHtxt">
         <!--<b>{$ads_top.name}</b>
        <s>{$ads_top.content|nl2br|raw}
        </s>-->
		<h1><b>TO BE A VOLUNTEER TUTOR</b></h1>
		<s>
		<p>First language is English or equivalent</p>
		<p>Help learners improve conversational skills </p>
		<p>Build connections with learners worldwide</p>
		<p>Bridge the gap for learners facing access barriers</p>
		<p>Be part of a global network dedicated to change</p>
		</s>
        {if condition="!$user_id"}
        <div class="btbox"><a href="{:url('register/tutor')}">Become a tutor</a><a href="{:url('sign/tutor')}">sign in</a></div>
        {/if}
    </div>
	<div class="htxt phoneHtxt">
        <b>TO BE A TUTOR</b>
        <s>
		<p>First language is English or equivalent</p>
		<p>Help learners improve conversational skills </p>
		<p>Build connections with learners worldwide</p>
		<!--<p>Bridge the gap for learners facing access barriers</p>-->
		<p>Be part of a global network dedicated to change</p>
        </s>
		{if condition="!$user_id"}
		<div class="btbox"><a href="{:url('register/tutor')}">Become a tutor</a><a href="{:url('sign/tutor')}">sign in</a></div>
		{/if}
	</div>
    <!--<div class="mn pc_pic">-->
    <img src="__HOME_IMG__/tutor_bg.jpg" class="mn lazyload" alt="talk to young people">
    
    <!--<div class="mn pc_pic">-->
    <img src="__HOME_IMG__/tutor_wap.jpg" class="pn lazyload" alt="Talk to young people">
    
</header>
<p class="topT">Who are the learners?</p>
<div class="main clearfix">
 <div class="intor">
     <picture><img src="__HOME_IMG__/tutorimg.jpg" alt="tutor young people speaking English"><img src="__HOME_IMG__/stripround.png" alt=""></picture><p>Learners come from diverse ages and backgrounds in non-English-speaking regions, each eager to improve their conversational fluency. Learners have varying goals:<br/>
        <span style="font-weight:bold">・Natural Conversations:</span> Many seek casual, natural exchanges with native speakers to build confidence.<br/>
        <span style="font-weight:bold">・Explore Western Culture:</span> Others are interested in learning about cultural perspectives and experiences.<br/>
        <span style="font-weight:bold">・Improve Language Skills:</span> Some focus on refining pronunciation, expanding vocabulary, or strengthening listening skills.<br/><br/>
        Chat sessions are open-ended and flexible. Mentors can guide conversations based on each learner’s needs and goals.<br/>
     
	     <!--<a href="https://www.ielts.org/ielts-for-organisations/ielts-scoring-in-detail">IELTS criteria</a><br>

		<a href="https://www.ets.org/toefl/test-takers/ibt/about/content/speaking/">TOEFL criteria</a>-->

 </p>
 </div>
 </div>
   <p class="topT">How you make a difference?</p> 
<div class="main clearfix">
 <div class="intor">
     <p>Achieving English fluency requires consistent practice with native speakers. However, socioeconomic barriers limit worldwide access to quality English learning resources. Volunteer mentors bridge this gap by providing essential conversational practice for learners.<br/>
        <span style="font-weight:bold">・Facilitate Conversation:</span> Initiate and guide discussions to encourage natural dialogue and engagement<br/>
        <span style="font-weight:bold">・Adapt to Learners' Needs:</span> Customize topics and questions based on learner's interests and goals.<br/>
        <span style="font-weight:bold">・Provide Feedback:</span> Offer constructive feedback on pronunciation, grammar, and vocabulary usage in a supportive manner.<br/>
        <span style="font-weight:bold">・Have Fun:</span> Share enjoyable conversations and build meaningful connections.<br/>
    </p>
    <picture><img src="__HOME_IMG__/mentorimg.png" alt="tutor young people speaking English"><img src="__HOME_IMG__/stripround.png" alt=""></picture>
 </div>
</div>
 <p class="topT">DO I NEED A TEACHING LICENSE?</p> 
 <div class="main clearfix">
  <div class="intor">
     <picture><img src="__HOME_IMG__/license.png" alt="tutor young people speaking English"><img src="__HOME_IMG__/stripround.png" alt=""></picture>
     <p>
        No teaching license or professional tutoring experience is required! Our chat sessions are designed to be relaxed, conversational, and free of strict curriculum. The goal is to help learners improve their English through consistent practice and exposure to natural, everyday dialogues with native speakers. 
        By facilitating meaningful conversations, showing patience and encouragement, and actively engaging with learners, you provide an invaluable resource for their language development. As a mentor, your role is to create a welcoming environment, guide discussions naturally, and encourage learners to practice speaking without fear of mistakes.
    </p>
  </div>
</div>
<p class="sT">Chat topic examples
</p>
<p class="sline">
    No topic limitation. Here is a topic list for your reference
</p>
 <div class="main clearfix">
  <ul class="topicli" >
      {volist name="topics" id="vo"}
      <li><dl><dt>{$vo.topic_name}</dt><dd>{$vo.descr|nl2br|raw}</dd></dl></li>
      {/volist}
      <div class="shrink"><span>EXPAND</span><dib class="tridiv"></dib></div>
  </ul>
    <p class="topT">how to start</p>
    <ul class="howtostar">
        <li class="step1"><div class="icon"><img src="__HOME_IMG__/step1_blue.png" alt=""></div><div class="startxt"><t>Step 1</t><p>Sign up to create your account.</p></div></li>
        <li class="step2"><div class="icon"><img src="__HOME_IMG__/step2_blue.png" alt=""></div><div class="startxt"><t>Step 2</t><p>Set your availability.</p></div></li>
        <li class="step3"><div class="icon"><img src="__HOME_IMG__/step3_blue.png" alt=""></div><div class="startxt"><t>Step 3</t><p>Download the En Chat app from your smartphone app store and install it on your device. </p></div></li>
        <li class="step4"><div class="icon"><img src="__HOME_IMG__/step4_blue.png" alt=""></div><div class="startxt"><t>Step 4</t><p>Set Allow notification for this app on your smartphone to receive reminders for your chats.</p></div></li>
        <li class="step5"><div class="icon"><img src="__HOME_IMG__/step5_blue.png" alt=""></div><div class="startxt"><t>Step 5</t><p>Wait for the learner to choose you. Once an appointment is set up, you will receive a notification email. Then you can check your timetable either under your account or in the En Chat app. </p></div></li>
    </ul>
    </div>
    <p class="topT">how to chat</p>
    <div class="main clearfix">
<div class="howtochat">
    <videoer>
      <!--  <div href="" class="video"> <img src="__HOME_IMG__/video play.jpg" alt=""><video src="__HOME_IMG__/tutor.mp4" controls="controls" poster=""></video></div>-->
      <div href="" class="video"> <img src="__HOME_IMG__/video play_t.jpg" alt=""><video src="__HOME_IMG__/movie.mp4" controls="controls" poster=""></video></div>
    <p><!--<a href="/public/Classin_tutor_manual.pdf" target="_blank" style="font-style: oblique;">Download</a> the manual here.<br>-->
        Once you are appointed by any learner, you will receive an email notification that a chat is created. Log in to En Chat to check your timetable. Your smartphone will receive a notification message 30 mins and 5 mins prior to the appointment starts. Open the En Chat around 5 mins before the chat starts and check your audio device functionality, then wait for your partner to enter the chat room. During the video chat, you can text message your partner. Each chat is allowed a maximum of 31 mins. After that time, the chat room will be forced to close by the app. 
       </p>
    </videoer>
    <dif><lt>end the chat</lt><p>If you don’t like to chat with your partner you can quit without any penalty. Please quit respectfully.
Write a review for each chat with a few details about but not limited to the following topics: Fluency and coherence, lexical resource (metaphors, paraphrasing, etc.), grammatical range and accuracy, and pronunciation. <img src="__HOME_IMG__/stripround.png" alt="">
    </p></dif>
    <dif><lt>How to get more learner’s attention? </lt><p>1. Provide a good review score. You will be rated for each chat by your partner. The learner evaluates you in terms of attitude, helpful or not, punctuation, etc. Of course, they will choose tutors based on the review score. <br>2. Set your availability as many as possible.<br>3. Write a good review to let your partner know where they should improve. Learners typically like specific, and detailed feedback.<img src="__HOME_IMG__/stripround.png" alt="">
    </p></dif>
    <dif><lt>Reminder</lt><p>We build this bridge to connect the tutors and the learners. Hope everyone could enjoy chatting with your partner but we are not responsible for the chat content which may cause any unexpected results such as offending language or fraud…  If you happen to meet a disrespectful partner or do not feel comfortable with the chatting, you can directly tell your partner your thoughts or quit the conversation and report it to us. Any topic related to money transferring or your private information disclosure must be precautioned. Your partner never has chance to know your email from our website or app unless you disclose it.
        <img src="__HOME_IMG__/stripround.png" alt=""></p></dif>
</div>
</div>
<div class="btimg">
    <p>We Speak English Network is founded by a group of caring Canadians to help native English speakers and overseas young people to set up a fabulous connection, help the participants find more fun, and help young people improve their English at a very low cost. Whether our platform survives or not depends on how many users support us. As a not-for-profit organization, we cannot afford expensive advertisements for promotion. If you like us, feel free to reach out or tell your friends to join us as a tutor. Your support would encourage us to go further.   
    </p>

    <!--{gt name="user_id" value="0"}
    <a href="{:url('member/donate')}">DONATE / SUPPORT US</a>
    {else}
    <a href="{:url('sign/tutor')}">DONATE / SUPPORT US</a>
    {/gt}-->
</div>
{include file="public/footer"}

</body>
<script>
    var topheight
    $(function(){
        topheight = $(".topicli").height();
        $(".topicli").height(120);
    });
    $(document).on('click', '.topicli>div.expend', function () {
        $(".topicli").animate({height:"120px"},200,"swing",function(){ $(".topicli span").text("EXPAND")});
        $(".topicli>div").removeClass("expend").addClass("shrink");
    });
    $(document).on('click', '.topicli>div.shrink', function () {
      //  $(".topicli").css({height:"auto"});
        $(".topicli").animate({height:topheight},200,"swing",function(){ $(".topicli span").text("UP")});
        $(".topicli>div").removeClass("shrink").addClass("expend");
    });
    $(document).on('click', '.video', function () {
        $("popbg").show();
        $("videoer video").show();
    });
    $(document).on('click', 'popbg', function () {
        $("popbg").hide();
        $("videoer video").hide();
        $("videoer video")[0].pause();
    });
    $('.nav_tutor').addClass('on');
</script>
<script type="text/javascript" charset="utf-8">
    const [img] = $('.pc_pic img');
    img.onload = (evt) => {
        evt.currentTarget.style.backgroundColor = 'transparent';
    }
</script>
</html>