<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Change Password_{:config('web_site_title')}</title>
    <link rel="stylesheet" href="__HOME_CSS__/easydropdown.css">
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/profile_m.css">
{include file="public/header_js"}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
</head>
<body class="usertype_{$user_type}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a href="{:url('profile')}" class="backar"></a>
</nav>

<div class="wb myclass">
    <div class="chpassword">
        <bt>Change Password</bt>
        <form method="post" action="{:url('profile')}" id="form_pass" onsubmit="return chk_pass()">
        <div class="inputbox">
            <label>Old Password</label> <input type="password" required name="old_pass" placeholder="Enter the old password">
        </div>
        <div class="inputbox">
            <label>New Password</label> <input type="password" required name="new_pass" id="new_pass" placeholder="Enter the new password">
            <vtips class="pwd_msg"></vtips>
        </div>
        <div class="inputbox">
            <label>Re-enter Password</label> <input type="password" required name="new_pass2" id="new_pass2" placeholder="Repeat the password">
            <vtips class="pwd2_msg"></vtips>
        </div>
        <div class="submit"><input type="submit" value="Update"></div>
            <input type="hidden" name="act" value="edit_pass">
        </form>
    </div>
</div>
{include file="public/footer"}
<style>
.submit input[type="submit"]{
	background: #83523b;
}

</style>
</body>
<script src="__HOME_JS__/easydropdown.js"></script>
<script>
    easydropdown.all();
    $(document).on('input', '#new_pass', function () {
        if ($(this).val().length<6 || $(this).val().length> 20){
            $('.pwd_msg').html('Password must between 6-20 in length!').show();
        }else {
            $('.pwd_msg').hide();
        }
    });
    function chk_pass(){
        _new_pass = $('#new_pass').val();
        console.log(_new_pass.length);
        if (_new_pass.length <6 || _new_pass.length > 20) {
            $('.pwd_msg').html('Password length is between 6-20!').show();
            return false;
        } else {
            $('.pwd_msg').hide();
        }
        _new_pass2 = $('#new_pass2').val();
        if (_new_pass2.length <6 || _new_pass2.length > 20) {
            $('.pwd_msg2').html('Password length is between 6-20!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
        if (_new_pass != _new_pass2) {
            $('.pwd_msg2').html('Your passwords do not match!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
        showloading();
        $.ajax({
            data: $('#form_pass').serialize(),
            type: 'post',
            url: $('#form_pass').attr('action'),
            dataType: 'json',
            success: function (res) {
                showmsg(res.msg, res.code);
                if (res.code == 200) {
                    setTimeout("location.reload()", 2000);
                }
            }
        })
        return false;
    }
</script>
</html>