<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		 <script src="https://unpkg.com/vue/dist/vue.js"></script>
		<title>Agreement</title>
		<style>
		*{
			padding: 0;
			margin: 0;
			list-style: none;
		}
		.kw{
			width: 750px;
			margin: 0 auto;
		}
		.text{
			font-size: 14px;
			line-height: 26px;
			color:#424242;
			padding: 20px 0 0 0;
		}
		.text p{
			font-size: 14px;
			line-height: 26px;
			color:#424242;
			padding-bottom: 5px;
		}
		.footer{
			overflow: hidden;
			padding: 150px 0 0px 0;
		}
		.footerItem{
			width: 40%;
			float: left;
		}
		.footerLable{
			font-size: 14px;
			color: #555;
		}
		.footerName{
			font-size: 20px;
			color: #000;
			font-weight: bold;
			padding: 20px 0 10px 0;
		}
		.footerDate{
			font-size: 14px;
			color: #555;
		}
		</style>
	</head>
	<body>
		<div class="kw">
			<div style="text-align: center; padding: 40px 0 20px 0;"> <img src="/public/home/style/img/logoblue.png" width="272"/></div>
			<div style="font-size: 18px; font-weight: bold; text-align: center; color: #424242;">REFERRAL AGREEMENT</div>
			<div class="text">
				<p>This Referral Agreement (this “Agreement”), by and between you (“Referral Partner”) and <strong>WeSpeakEnglish. (“Company”)</strong>, is effective immediately as both parties agree.</p>
				<p><strong>WHEREAS</strong>, Company and Referral Partner desire to enter into an agreement pursuant to which Referral Partner (hereinafter, “Referrer”) may, from time to time, refer leads to the Company (hereinafter, “Recipient”), pursuant to which Referrer would be entitled to a fee in the event that such lead resulted in generated business by Recipient for which Recipient received consideration;</p>
				<p><strong>NOW, THEREFORE</strong>, in consideration of the mutual promises and covenants contained herein, Company and Referral Partner hereby agree as follows:</p>
				<p><strong>1.Referrals</strong>. Referral Partner may from time to time refer potential learners (“Prospects”) to the Company, by completing the Prospects registration, account setting including but not limited setting availability, downloading and installing designated chat APP on specific devices, to ensure the Prospects participate in the online chat successfully. Referrer is expected to cooperate with Recipient and, to the extent requested by Recipient, remain actively involved in Recipient’s sales campaign with respect to each Prospect referral and support Recipient’s solution as proposed by Recipient to the Prospect.</p>
				<p><strong>2.Compensation</strong>. In the event that the Prospect completes the online chat as Recipient assigned, Recipient shall pay a fee (the “Referral Fee”) to Referrer in an amount equal to [<i style="background: #ffff00;">USD {$user.price_partner}</i> ]for each successful chat which Prospect makes.]. The Referral Fee will be deposited in the form of points into the Referrer’s account and the Referrers can redeem the points via their Paypal account under certain conditions:  </p>
				<p>(i) Referer submits a withdrawal request, (ii)the interval between two withdrawals must be greater than two weeks, (iii) each payable amount must equal to or exceed USD 20.</p>
				<p>Referrer shall be responsible for any and all income and other taxes applicable to it in connection with its receipt of Referral Fee pursuant hereto and as an independent contractor of the Company. The Company will not be responsible for any expenses of the Referrer in the course of the performance of its obligations hereunder unless such expenses have been previously approved in writing by the Company.</p>
				<p><strong>3.Term</strong>; Termination. The initial term of this Agreement shall be for one year from and after the Effective Date. This Agreement shall automatically renew for additional one term following the expiration of the initial term, unless and until terminated by the Referrer at any time upon ten (10) days written notice. Notwithstanding the termination of this Agreement, Referrer shall be entitled to Referral Fees in accordance with the terms of Section 2 above.</p>
				<p><strong>4.Acting as Finder Only; Non-Exclusivity</strong>. It is understood that Referrer is acting as a finder only and shall have no authority to enter into any agreements, obligations or commitments on Recipient’s behalf, or to negotiate the terms of Prospects’ agreements with Recipient. Referrer acknowledges that Recipient may enter into referral agreements or other similar arrangements with other parties and that Referrer shall have no rights under such agreements or to any fees for customers referred to Recipient by others or identified by Recipient itself.</p>
				<p><strong>5.Relationship</strong>. Company and Referral Partner acknowledge and agree that the relationship created by this Agreement is that of an independent contractor. Nothing contained in this Agreement shall be construed to constitute either party as an employee or joint venturer of or with the other party. Neither party shall have any authority to bind the other in any respect, it being intended that each party hereto is and shall remain an independent contractor responsible for its own actions. </p>
				<p><strong>6.Representations and Warranties</strong>. Each of Referrer and Company represents and warrants that: (i) it has the right to enter into this Agreement and the right to grant the rights granted herein; (ii) it is not a party to any agreement, contract, or understanding that would prevent, limit or hinder its performance of this Agreement; and (iii) it is not a party to any pending claims or litigation which might affect its performance of this Agreement.</p>
				<p><strong>7.Indemnification.</strong> </p>
				<p>The Parties agree not to indemnify and hold one another harmless. This also applies to their affiliates, agents, officers, employees, and/or successors. The Parties in this Agreement hereby in addition agree to assign against all (if any) claims, liabilities, damages, losses, penalties, punitive damages, expenses, any reasonable legal fees and/or costs of any kind or any amount that may arise. This includes, but is not limited to, any amount which may result from the negligence of or the breach of this Agreement by the party that is indemnified, its successors and assigns that occurs in terms of this Agreement. </p>
				<p>This section will remain in full force and tact as well as effect even upon the termination of the Agreement naturally or the early termination by either of the Parties.</p>
				<p><strong>8.Limitation of Liability</strong>. Under no circumstances shall either party be liable for any indirect, incidental, economic, special, punitive or consequential damages, whether for breach of contract, negligence or under any other cause of action, that result from the referral of Prospects contemplated by this Agreement.</p>
				<p><strong>9.Confidentiality</strong>. Each party hereto acknowledges that by reason of its relationship to the other party hereunder, it may have access to certain information and material concerning the other party’s business, plans, customers, technology, intellectual property, proprietary information, services and products, all of which are confidential and of substantial value to the other party, which value would be impaired if such information were disclosed to third parties. Accordingly, each party hereto agrees that it will not use in any way for its own account or the account of any third party, nor disclose to any third party, any such confidential information revealed to it by the other party. In the event of termination of this Agreement, there shall be no use or disclosure by either party of any confidential information of the other party and any materials related to the other party shall be immediately returned to the disclosing party. </p>
				<p><strong>10.Entire Agreement</strong>. This Agreement constitutes the entire understanding between the parties with respect to the subject matter hereof and may not be altered or amended except in writing signed by both parties.</p>
				<p><strong>11.Governing Law</strong>. This Agreement and performance hereunder shall be governed by the laws of the province of Ontario, Canada, without regard to conflicts of laws. Any action or proceeding based on this Agreement shall be brought only in the state or federal courts located in the County of Canada, Province of Ontario, and both parties agree to submit to the exclusive personal jurisdiction of such courts. Process in any such action or proceeding may be served on either party anywhere in the world. Company and Referral Partner agree that the prevailing party in any such action or proceeding shall be entitled to recover the reasonable attorneys’ fees and costs incurred by such party in the course of prosecuting or defending any lawsuit brought under this Agreement. </p>
				<p><strong>12.Severability</strong>. In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions should continue in full force and effect as valid and enforceable. </p>
				<p><strong>13.Survival</strong>. The terms of this Agreement shall survive the term of this Agreement and shall bind and inure to the benefit of the successors, assigns, personal representatives, heirs and legates of all parties.</p>
				<p><strong>14.Counterparts</strong>. This Agreement may be executed in one or more counterparts, each of which shall be deemed an original and all of which, when taken together, shall constitute one and the same instrument.</p>
			</div>
			
			<div class="footer">
				<div class="footerItem">
					<div class="footerLable">COMPANY</div>
					<div class="footerName">WeSpeakEnglish</div>
					<div class="footerDate">{$date}</div>
				</div>
				
				<div class="footerItem" style="float: right;">
					<div class="footerLable">REFERRAL PARTNER</div>
					<div class="footerName">{$user.username}</div>
					<div class="footerDate">{$date}</div>
				</div>
			</div>
		</div>
	</body>
</html>
