<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Help_Video Chat in English-Tutors chat with overseas young people. Learners improve speaking English fast </title>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/help.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/help_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
    <script src="__HOME_JS__/tab.js"></script>
	
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
<!-- End Google Tag Manager -->
</head>
<body class="usertype_{$user_type|default=0} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a class="backar pn" href="javascript:history.go(-1);"></a>
    <div class="ncenter">help</div>
    {include file="public/nav_menu"}
</nav>

<div class="main clearfix">
<p class="topT">How can we help you?</p>
    {if condition="$isMobile"}
    <dif class="helpbt mn">
		<a class="tutor" href="{:url('help',['type_id'=>2])}"><span><i class="iconfont iconaccount-tutor"></i> TUTOR</span></a>
		<a class="learner" href="{:url('help',['type_id'=>1])}"><span><i class="iconfont iconaccount-learner"></i> LEARNER</span></a>
		<a class="partner" href="{:url('about/partner', ['type_id'=>1])}"><span><i class="iconfont iconaccount-partner"></i> partner</span></a>
	</dif>
    <div class="helpbt pn">
		<a class="tutor" href="{:url('help',['type_id'=>2])}"><span><i class="iconfont iconaccount-tutor"></i> TUTOR</span></a>
		<a class="learner" href="{:url('help',['type_id'=>1])}"><span><i class="iconfont iconaccount-learner"></i> LEARNER</span></a>
		<!--<a class="partner" href="{:url('about/partner', ['type_id'=>2])}"><span><i class="iconfont iconaccount-partner"></i> PARTNER(INVITE TUTOR)</span></a>
		<a class="partner" href="{:url('about/partner', ['type_id'=>1])}"><span><i class="iconfont iconaccount-partner"></i> PARTNER(INVITE LEARNER)</span></a>-->
	</div>
    {else}
    <dif class="helpbt mn">
		<a class="tutor" href="{:url('help',['type_id'=>2])}"><span><i class="iconfont iconaccount-tutor"></i> TUTOR</span></a>
		<a class="learner " href="{:url('help',['type_id'=>1])}"><span><i class="iconfont iconaccount-learner"></i> LEARNER</span></a>
    </dif>
    <!--<dif class="helpbt mn">
		<a class="partner " href="{:url('about/partner', ['type_id'=>2])}"><span style="margin-right: 20px;"><i class="iconfont iconaccount-partner"></i> PARTNER (INVITE TUTOR)</span></a>
		<a class="partner " href="{:url('about/partner', ['type_id'=>1])}"><span style="margin-left: 20px;"><i class="iconfont iconaccount-partner"></i> PARTNER (INVITE LEARNER)</span></a>
	</dif>-->
	
    <div class="helpbt pn" >
		<a class="tutor" href="###"><span><i class="iconfont iconaccount-tutor"></i> TUTOR</span></a>
		<a class="learner" href="###"><span><i class="iconfont iconaccount-learner"></i> LEARNER</span></a>
        <!--<a class="partner " href="{:url('about/partner', ['type_id'=>2])}"><span style="margin-right: 20px;"><i class="iconfont iconaccount-partner"></i> PARTNER (INVITE TUTOR)</span></a>
        <a class="partner " href="{:url('about/partner', ['type_id'=>1])}"><span style="margin-left: 20px;"><i class="iconfont iconaccount-partner"></i> PARTNER (INVITE LEARNER)</span></a>
	</div>-->
    {/if}
    <div class="tutorhelp help tabbox clearfix">
        <div class="tabs">
            {volist name="cats_teacher" id="vo"}
            <div class="boxt {eq name='i' value='1'}g{/eq}" title="tab{$i}">{$vo.name}</div>
            {/volist}
        </div>
        <ul class="helpli"  id="boxtab">
            {volist name="cats_teacher" id="vo" key="k"}
            <li id="tab{$k}">
                {volist name="vo.arts" id="art"}
                    <p class="help_head">{$art.title}</p>
                    <div class="help_body">
                        {gt name="art.thumb" value="0"}
                        <img src="{$art.thumb|get_file_path}" /><br/>
                        {/gt}
                        {$art.content|nl2br|raw}
                    </div>
                {/volist}
                </li>
            {/volist}
        </ul>
    </div>
    <div class="learnerhelp help tabbox clearfix">
        <div class="tabs">
            {volist name="cats_student" id="vo"}
                <div class="boxt {eq name='i' value='1'}g{/eq}" title="tab{$i}">{$vo.name}</div>
            {/volist}
        </div>
        <ul class="helpli"  id="boxtab">
            {volist name="cats_student" id="vo" key="k"}
            <li id="tab{$k}">
                {volist name="vo.arts" id="art"}
                <p class="help_head">{$art.title}</p>
                <div class="help_body">
                    {gt name="art.thumb" value="0"}
                    <img src="{$art.thumb|get_file_path}" /><br/>
                    {/gt}
                    {$art.content|nl2br|raw}
                </div>
                {/volist}
            </li>
            {/volist}
        </ul>
    </div>
</div>
    {include file="public/footer"}
</body>

<script>
    $(document).on('focus', '.logform dib input', function () {
        $(this).siblings("label").animate({bottom:"46px"},1);
    });
    $(document).on('blur', '.logform dib input', function () {
        if( $(this).val()=="" ){
            $(this).siblings("label").animate({bottom:"24px"},1);
        }
    });
    $(document).on('click', 'a.tutor', function () {
        $(this).addClass("onbt").siblings("a").removeClass("onbt");
        $(".tutorhelp").show()
        $(".learnerhelp").hide()
    });
    $(document).on('click', 'a.learner', function () {
        $(this).addClass("onbt").siblings("a").removeClass("onbt");
        $(".learnerhelp").show()
        $(".tutorhelp").hide()
    });
    $(document).ready(function()
    {
        //slides the element with class "menu_body" when paragraph with class "menu_head" is clicked
        $("li p.help_head").click(function()
        {
            if($(this).is('.show')){
                $(this).removeClass("show")
            }else {
                $(this).addClass("show")
            }
            $(this).next("div.help_body").toggle()//.siblings("div.help_body").hide();
            //$(this).siblings(".help_head").removeClass("show")
        });

    });
</script>
</html>