<!DOCTYPE html>
<html lang="en">
    
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>    

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>About us_{:config('web_site_title')} </title>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/about.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/about_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
<!-- End Google Tag Manager -->
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <nav class="dif">
        {include file="public/nav_menu"}
    </nav>
    <div class="htxt">
        <b>TUTORs FIND MORE FUN <br>
            LEARNERs IMPROVE ENGLISH FAST</b>
    </div>
    <img src="/public/uploads/images/20201114/2203e05a5c528725726751095a7b2bf6.jpg" class="mn" alt="">
    <img src="/public/uploads/images/20201114/012a9f18c744cffe7ed0beadfea3de71.jpg" class="pn" alt="">
</header>
<div class="main">
    <img src="/public/uploads/images/20210116/541bc0268305a323945eb73f73ed16de.png" class="mn" alt="">
    <img src="/public/uploads/images/20210311/d0fb804f113fcd7aee09b006194c6d6a.png" class="pn" alt="">

    <div class="p">
        <!--<p><span style="font-family:&quot;Fjalla&quot;,serif"><span style="color:black">WE HOPE ALL SENIORS CAN FIND MORE FUN HERE AND ALL LEARNERS IMPROVE ENGLISH SPEAKING SKILL FAST</span></span></p>
    <h2 style="line-height: 40px">Who will be your partner?</h2>-->

        <p><span style="font-family:&quot;微软雅黑&quot;,sans-serif"><span style="color:#555555">WeSpeakEnglish is a new program founded by a group of caring Canadians to help native English speakers and overseas young people to set up a fabulous connection.</span></span></p>

        <p><span style="font-family:&quot;微软雅黑&quot;,sans-serif"><span style="color:#555555">We hope all participants can find more fun here by chatting with overseas young people who dream of studying or working abroad. Share your precious life experience with them and know what their real life is like. Explore the world from your own perspective by chatting with worldwide young people directly. Different culture, different background, different story…</span></span></p>

        <p><span style="font-family:&quot;微软雅黑&quot;,sans-serif"><span style="color:#555555">Our second mission with WeSpeakEnglish is to help overseas young people improve their English-speaking skills. Talking with the native speakers full of rich life experiences helps to add depth, creativity, and better pronunciation to their language skills in addition to an understanding of what other countries are all about. </span></span></p>
            <img src="/public/home/style/img/walking.jpg" class="mn" alt="">
            <img src="/public/home/style/img/walking.jpg" class="pn" alt="">
        <p><span style="font-family:&quot;微软雅黑&quot;,sans-serif"><span style="color:#555555">When we designed this app, user safety and privacy were one of our top priorities. Within the platform, we provide users with the ability to protect themselves and not disclose any private information. </span></span></p>
     <h2 style="line-height: 40px">Measures to protect your privacy:</h2> 
    <ul>
        <li style="line-height: 40px">•	No personal information is needed</li>
        <li style="line-height: 40px">•	Only an email is required to receive all notifications.</li>
        <li style="line-height: 40px">•	Any access to your smartphone needs your permission.</li>
		<li style="line-height: 40px">•	It is easy to quit.</li>
        <li style="line-height: 40px">•	Everything is under your control.</li>
    </ul>
     <h2 style="line-height: 40px">Tutor’s duty:</h2> 
    <ul>
        <li style="line-height: 40px">•	No professional tutoring experience is needed, it is just casual conversation.</li>
        <li style="line-height: 40px">•	You should look to correct pronunciation, grammar, and coherence errors.</li>
        <li style="line-height: 40px">•	You set your availability and the learner will book any chat based on your schedule.</li>
		<li style="line-height: 40px">•	You must install the En Chat app on your smartphone.</li>
        <li style="line-height: 40px">•	Each chat is 30 mins, one-on-one.</li>
        <li style="line-height: 40px">•	You set your chat rate and the payment can be deposited to your Paypal account.</li>
    </ul>
     <h2 style="line-height: 40px">Eligibility：</h2> 
    <ul>
        <li style="line-height: 40px">•	English is your first language or equivalent.</li>
        <li style="line-height: 40px">•	You must have a clear voice.</li>
        <li style="line-height: 40px">•	You must have access to a smartphone and the internet.</li>
		<li style="line-height: 40px">•	You must have access to your email at least daily so you don’t miss an appointment.</li>
	<h2 style="line-height: 40px">Who will be your partner?</h2> 	
	<p><span style="font-family:&quot;微软雅黑&quot;,sans-serif"><span style="color:#555555">College students or adults who are prospective international students or immigrants. The students are interested in western culture and hope to improve their English skills.
They select partners based on your availability, chat rate, and review rating. We ensure that all learners are serious and committed by asking them to pay for the chat.
All of the students have been learning English for several years and so have a degree of fluency.  They are really looking to hear about your experiences and to share some of their own.
 </span></span></p>
    </div>

</div>

    {include file="public/footer"}
</body>

</html>