<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Helps_Video Chat in English-Tutors chat with overseas young people. Learners improve speaking English fast </title>
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/partnerhelp.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/partnerhelp_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
		<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
    <style type="text/css">
        {eq name="user_type" value="1"}
        .tutor_star{ display: none; }
        {/eq}
    </style>
</head>
<body class="{$type_id} partner1">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a class="backar pn" href="{:url('index')}"></a>
    {include file="public/nav_menu"}
</nav>

<div class="main">
    <div class="tabbox myclass">
        <dif class="ht "><b>Partner Help</b> <a href="{:url('/')}">back</a></dif>
		<div class="learnerhelp help tabbox clearfix">
			{eq name="type_id" value="1"}
			<!-- 学生 -->
			<ul class="helpli" id="boxtab">
				<li>
					<p class="help_head">Who is WeSpeakEnglish team?</p>
					<div class="help_body">
						A group of Canadians who love to help Native English speakers find fun and help overseas learners practice speaking English at a very low cost.
					</div>
				</li>
				
				<li>
					<p class="help_head">How can a referrer involve?</p>
					<div class="help_body">
						Find as more as possible English learners who are eager to improve speaking skills and encourage them to join WeSpeakEngish as learners to chat with native English speakers.
					</div>
				</li>
				
				<li>
					<p class="help_head">How much commission can I earn?</p>
					<div class="help_body">
						Your earning is based on how many chats your referral learners make. You can get $0.1 from each successful chat. To get more commission, keep as many active learners as you can.
					</div>
				</li>
				
				<li>
					<p class="help_head">How to redeem my rewards?</p>
					<div class="help_body">
						Click withdraw in your account. The funds will go to the Paypal account that you designated in 1 week if your withdrawal request is approved. You can only redeem with an account balance above $50, that is, each redemption cannot be less than $50; the interval between two redemptions must be greater than 2 weeks.
					</div>
				</li>
				
				<li>
					<p class="help_head">Who are the prospective learners?</p>
					<div class="help_body">
						Any English learner who is eager to practise speaking English. In particular, IELTS and TOFEL examinees.
					</div>
				</li>
				
				<li>
					<p class="help_head">What is the benefit for learners?</p>
					<div class="help_body">
						Practise speaking English at very low cost with native English speakers. Efficient way to improve speaking skills.
					</div>
				</li>
				
				<li>
					<p class="help_head">What are the requirements for the learners to video chat?</p>
					<div class="help_body">
						<p>1、Willing to chat with English speakers</p>
						<p>2、Have a smartphone</p>
						<p>3、Can access the internet and check email on a daily basis</p>
						<p>4、Sign up as a learner. Find a tutor and pay the chats</p>
						<p>5、Download and install a chat APP En Chat on their smartphone</p>
					</div>
				</li>
				
				<li>
					<p class="help_head">How to ensure the learners register under my account number?</p>
					<div class="help_body">
						Make sure they input your account number when they sign up as a learner. Sending the registration link that contains your account number is a good option.
					</div>
				</li>
								   
			</ul>
			{else}
			<!-- 老师 -->
			<ul class="helpli" id="boxtab">
				<li>
					<p class="help_head">Who is WeSpeakEnglish team?</p>
					<div class="help_body">
						A group of Canadians who love to help Native English speakers find fun and help overseas learners practice speaking English at a very low cost.
					</div>
				</li>

				<li>
					<p class="help_head">How can a referrer involve?</p>
					<div class="help_body">
						Find as more as possible native English speakers and let them join WeSpeakEngish as tutors.
					</div>
				</li>

				<li>
					<p class="help_head">How much commission can I earn?</p>
					<div class="help_body">
						Your earning is based on how many chats your referral tutors make. You can get up tp CAD 0.5 from each successful chat. To get more commission, keep as many active tutors as you can. The rate is various according to different daily chat quantity ranges which all tutors under the your account make:
			    <br>Rate between 1~1,000: [<i style="display: inline-block; background: #ffff00; font-weight: bold;">CAD 0.5/each chat </i> ]
			    <br>Rate between 1,001~5,000: [<i style="display: inline-block; background: #ffff00; font-weight: bold;">CAD 0.4/each chat</i> ]
			    <br>Rate between 5,001~10,000: [<i style="display: inline-block; background: #ffff00; font-weight: bold;">CAD 0.3/each chat</i> ]
			    <br>Rate over 10,000:[<i style="display: inline-block; background: #ffff00; font-weight: bold;">CAD 0.25/each chat</i> ]
			    <br>For example, if the daily chat quantity is 12,000, the fee is $4,100.<br>
					</div>
				</li>

				<li>
					<p class="help_head">How to redeem my rewards?</p>
					<div class="help_body">
						Click withdraw in your account. The funds will go to the Paypal account that you designated in 1 week if your withdrawal request is approved. You can only redeem with an account balance above $50, that is, each redemption cannot be less than $50; the interval between two redemptions must be greater than 2 weeks.
					</div>
				</li>

				<li>
					<p class="help_head">Who are the prospective tutors?</p>
					<div class="help_body">
						Retirees, Grade 12+ students.
					</div>
				</li>

				<li>
					<p class="help_head">What is the benefit for tutors?</p>
					<div class="help_body">
						Find fun and be good for mental health-- explore exotic cultures, get respect from their partners; earn money--they can keep the money for themselves or donate to anyone they like.
					</div>
				</li>

				<li>
					<p class="help_head">What are the requirements for the tutors?</p>
					<div class="help_body">
						<p>1、Have a clear voice and his/her first language is English</p>
						<p>2、Have a smartphone</p>
						<p>3、Can access the internet and check email on a daily basis</p>
						<p>4、Sign up as a tutor and set availability</p>
						<p>5、Download and install a chat APP on a smartphone or tablet</p>
					</div>
				</li>

				<li>
					<p class="help_head">How to ensure the tutors register under my account number?</p>
					<div class="help_body">
						Make sure they input your account number when they sign up as a tutor. Sending the registration link that contains your account number is a good option.
					</div>
				</li>

			</ul>
			{/eq}
		</div>
	</div>

</div>
{include file="member/footer_menu"}
{include file="public/footer"}
{include file="member/member_js"}
</body>
<script>
    $('#foot_a_6').addClass('cur');
	
	$(document).ready(function(){
	    //slides the element with class "menu_body" when paragraph with class "menu_head" is clicked
	    $("li p.help_head").click(function()
	    {
	        if($(this).is('.show')){
	            $(this).removeClass("show")
	        }else {
	            $(this).addClass("show")
	        }
	        $(this).next("div.help_body").toggle()//.siblings("div.help_body").hide();
	        //$(this).siblings(".help_head").removeClass("show")
	    });
	
	});
	$(function () {
		$('.nav_tutor, .nav_learner').removeClass('on');
		// $('.nav_parnter').addClass('on');
	})
</script>
</html>