<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>TutorDetail</title>
    <link rel="stylesheet" href="style/css/layout.css">
    <link rel="stylesheet" href="style/css/tutordetail.css">
    <link rel="stylesheet" type="text/css" href="style/css/tutordetail_m.css" media="(max-width: 750px) "/>
    <script src="style/js/jquery-3.5.1.min.js"></script>
    <script src="style/js/vue.js"></script>
    <script src="style/js/comm.js"></script>
</head>
<body>
<nav class="dif">
    <a class="backar pn" href=""></a>
    <div class="ncenter">tutor list</div>
    <div class="logobox"><a href="" class="logo"></a><a href="">for Tutor</a><a href="" class="on">for learner</a></div>
    <div class="who?"><span><a href="">I'm Learner</a><a href="">I'm tutor</a></span></div>
    <div class="hanbugrmenu pn"></div>
    <div class="mfmenu">
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">TERMS OF USE</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">PRIVACY POLICY</a></li>
            <li><a href="">Help</a></li>
        </ul>
        <div class="sociala"><a href=""><img src="style/img/chat_w.png" alt=""></a><a href=""><img
                src="style/img/wx_w.png" alt=""></a><a href=""><img src="style/img/facebook_w.png" alt=""></a><a
                href=""><img src="style/img/twitter_w.png" alt=""></a></div>
    </div>
</nav>


<div class="main clearfix">
    <div class="tutorbox">
        <top>
            <div class="tutor">
                <div class="namer">
                    <name><span>Coach David</span> <img src="style/img/flags.png" alt=""></name>
                    <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                            src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
                    </stars>
                </div>
                <div class="from">From UK (UTC-04:00)</div>
            </div>
            <dif class="info">
                <class><label for="">Class</label><b>80</b></class>
                <learner><label for="">Learner</label><b>10</b></learner>
                <fee><label for="">Tuition fee</label><b>$ 40.00
                    <g>/30 min</g>
                </b></fee>
            </dif>
        </top>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>Become a teacher in August 2020</btime>
    </div>
<div class="selectime">
    <dif class="headt"><div class="ht"><h2>SELECT TIMESLOT</h2> <vline></vline> <gh2>reviews <span>(500)</span></gh2></div>
        <div class="staues"><span>Availale</span><span>Unavailable</span></div></dif>
    <div class="timeslots">
        <ul class="cal-hour">
        <li class="timehour" v-for="(time, i) in HourList" >{{time}}</li>
        </ul>
        <ul class="cal-day" @touchmove="touchtoR()">
            <div class="upweek" @click="upWeek"  v-if="si>0"></div> <div class="downweek" @click="downWeek" v-if=" ei+1 < TdateLists.length" ></div>
            <li class="day" v-for="(item,index) in TdateLists" v-if=" si<=index && index<= ei ">
                <div class="cdate">
                    <div class="date" :class="{today: item[0]==cy && item[1]==cm && item[2] == initD, gray:  (item[1]< cm || item[2]< initD) && item[0]<= cy }" >{{item[2]}} {{item[1]}}</div>
                    <div class="week" :class="{today: item[0]==cy && item[1]==cm && item[2] == initD, gray:  (item[1]< cm || item[2]< initD) && item[0]<= cy }"  >{{item[3]}}</div>
                </div>
     <div class="timecell" v-for="(time, i) in HourList"
          :class="{avaitime:thisday(item[0],item[1],item[2],time,index,i),booked:booked(item[0],item[1],item[2],time)}"
          @click="book(item[0],item[1],item[2],time,index,i)" >  <div class="timepop">  {{item[1]}}  {{item[2]}}<br> {{HourList[i]}}-{{HourList[i+1]}} </div>
     </div>
            </li>
        </ul>
    </div>
    <div class="timezone">Displays  in your time zone (UTC-04:00)</div>
</div>
    <div class="reviewbox">
             <div class="learnamer">
                    <name><span>Coach David</span> </name>
                    <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                            src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
                    </stars>
                </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>
    <div class="reviewbox">
        <div class="learnamer">
            <name><span>Coach David</span> </name>
            <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                    src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
            </stars>
        </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>
    <div class="reviewbox">
        <div class="learnamer">
            <name><span>Coach David</span> </name>
            <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                    src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
            </stars>
        </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>
    <div class="reviewbox">
        <div class="learnamer">
            <name><span>Coach David</span> </name>
            <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                    src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
            </stars>
        </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>
    <div class="reviewbox">
        <div class="learnamer">
            <name><span>Coach David</span> </name>
            <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                    src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
            </stars>
        </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>
    <div class="reviewbox">
        <div class="learnamer">
            <name><span>Coach David</span> </name>
            <stars><img src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><img
                    src="style/img/star.png" alt=""><img src="style/img/star.png" alt=""><span>(4.0)</span>
            </stars>
        </div>
        <p>I am a retired teacher from a high school in the United States. I teach languages. We can talk about American
            culture, food, and literature together. I am a retired teacher from a high school in the United States. I
            teach languages. We can talk about American culture, food, and literature together.</p>
        <btime>From china</btime>
    </div>



</div>
<div class="paybarouter fixed">
    <dif class="paybar">
        <a href=""><img src="style/img/rback.png" alt=""></a>
        <div class="btbox">
            <input type="submit" value="booking">
            <div><input type="checkbox" name="weekauto" value="weekauto" id="weekauto"><label value="weekauto"
                                                                                              for="weekauto"></label>
                <p>Automatically select a week by day</p></div>
        </div>
    </dif>
</div>

<div class="footwrap">
    <div class="poptouch">
        <t>GET IN TOUCH</t>
        <img class="closex" src="style/img/closex.png" alt="">
        <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea name="" id="" placeholder="Message"></textarea>
            <input type="text" placeholder="Verification code">
            <input type="submit" value="Send">
        </form>
    </div>
    <popbg></popbg>
    <a class="getintouch-icon" href="###"><img src="style/img/getintouch-icon.png" alt=""></a>
    <dif class="footer">
        <rights class="mn">© 2020. ALL RIGHTS RESERVED</rights>
        <ul>
            <li><a href="">about us</a></li>
            <li class="rdot"></li>
            <li><a href="">contact us</a></li>
            <li class="rdot"></li>
            <li><a href="">HELP</a></li>
            <li class="rdot"></li>
            <li><a href="">TERMS OF USE</a></li>
            <li class="rdot"></li>
            <li><a href="">PRIVACY POLICY</a></li>
        </ul>
        <dib class="ftsocail"><a href=""><img src="style/img/wx_b.png" alt=""></a><a href=""><img
                src="style/img/facebook_b.png" alt=""></a><a href=""><img src="style/img/twitter_b.png" alt=""></a>
        </dib>
        <rights class="pn">© 2020. ALL RIGHTS RESERVED</rights>
    </dif>
</div>

</body>
<script>
    $(document).on('click', '.filter>div', function () {
        $("popbg").show();
        $(this).children(".downpopmenu").show();
    });
    $(document).on('click', 'popbg', function () {
        $("popbg").hide();
        $(".downpopmenu").hide();
    });

    $(document).on('over', '.tutor', function () {

    });
    var vm = new Vue({
        el: '.timeslots',
        data:{
            _date: 0,
            t_date: 0,
            initY: 0, //当前 年
            initM: 0, //当前 月
            initD: 0, //当前 日
            initW: 0, //当前 周
            finitD: 0,
            si: 0,
            ei: 6,
            tinitD: new Date(),
            timehour: 0,
            enMonth: '',
            tablestatus:[],
            avaitime:true,
            booktime:true,
            tempdatelists:[],
            x:-1,
            y:-1,
            timeclicked:[],
            click1: 99999999,
            click2: 99999999,
            timeclick_m: 99999999,
            timeclick_d: 99999999,
            timeclick_y: 99999999,
            timeclick_t:99999999,

            DateList: [],
            Datelists: [],
            TdateLists: [],
            //HourList: [], 	//钟点时间 24小时  赋值写死
            HourList: [
                '00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00','03:30', '04:00', '04:30', '05:00', '05:30', '06:00', '06:30', '07:00', '07:30'
                , '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30',
                '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30',
                '22:00', '22:30', '23:00', '23:30'
            ],
            cy: 0, //temp 上下年变化
            cm: 0, //temp 上下月变化
            cd: 0,
            dateYM: 0, // 标题显示
            beginDay: 0, //当月开始是周几
            prevMdays: 0, //上个月总天数
            nowMdays: 0, // 当月天数
        },
        created: function () {

        },
        mounted: function () {
            this._date = new Date();
            // 初始化 当前时间 y-m-d
            this.initY = this._date.getFullYear()
            this.initM = this._date.getMonth() + 1
            this.initD = this._date.getDate();
            this.initW = this._date.getDay();
            this.enMonth = new Date().toDateString().split(" ")[1];
            this.timehour = new Date().getHours()
             console.log(this.initD)

            // 初始化&切换上下月使用
            this.cy = this._date.getFullYear()
            this.cm = this._date.getMonth() + 1
            this.cd = this._date.getDate();

            this.finitD = new Date(this._date.setDate(   this.initD  - this.initW  )).getDate()//算出当前日期的上一个周日的日期

//生成日期数组
            for (i = 0; i < 32 + this.initW; i++) {
                this.tinitD=new Date(); this.t_date = new Date(this.tinitD.setDate(   this.initD - this.initW  ));//重置日期
                this.DateList[i] = this.t_date.setDate(this.finitD + i);//从重置日期处往后循环出日期
            }

            //分年、月、日塞进数组
            for (i = 0; i < 32 + this.initW; i++) {
                this.Datelists[i] = new Array();
                this.Datelists[i][0] = new Date(this.DateList[i]).getFullYear();
                //  this.  Datelists[i][1] =new Date(this.DateList[i]).toDateString().split(" ")[1];
                this.Datelists[i][1] = new Date(this.DateList[i]).getMonth() + 1;
                this.Datelists[i][2] = new Date(this.DateList[i]).getDate();
                this.Datelists[i][3] = new Date(this.DateList[i]).getDay();

            }
            this.TdateLists = this.Datelists;

            //服务器拿到的数据
            this.tablestatus =[
                 {"datetime":1606953600000,"booked":0,"date":"2020-12-10","time":"06:00","time_end":"06:30"}
                ,{"datetime":1606953600000,"booked":1,"date":"2020-12-10","time":"16:00","time_end":"16:30"}
                ,{"datetime":1607558400000 ,"booked":1,"date":"2020-12-10","time":"08:00","time_end":"08:30"}
                ,{"datetime":1607558400000 ,"booked":0,"date":"2020-12-10","time":"08:30","time_end":"09:00"}
                ,{"datetime":1607558400000 ,"booked":1,"date":"2020-12-10","time":"09:00","time_end":"09:30"}
                ,{"datetime":1607558400000 ,"booked":0,"date":"2020-12-10","time":"10:00","time_end":"10:30"}
                ]

            for(k in this.tablestatus)
            {
               this.tempdatelists[k] = this.tablestatus[k].datetime;
                console.log(new Date(this.tempdatelists[k]))
            }
        },

        methods: {
            //匹配可用日期
            thisday:function(ye,m,d,t,index,i){
                let tof;
                for (k in this.tempdatelists){
                           if(
                         ye=== new Date(this.tempdatelists[k]).getFullYear() &&
                         m=== new Date(this.tempdatelists[k]).getMonth() + 1 &&
                         d=== new Date(this.tempdatelists[k]).getDate()&&
                                t === this.tablestatus[k].time
                           ){
                               tof = true
                                  return tof
                    }
                }
            },


            //匹配是否被选
              booked:function(ye,m,d,t){
              let tof;
                   for (k in this.tempdatelists){
                       if(
                           ye=== new Date(this.tempdatelists[k]).getFullYear() &&
                           m=== new Date(this.tempdatelists[k]).getMonth() + 1 &&
                           d=== new Date(this.tempdatelists[k]).getDate()&&
                           t === this.tablestatus[k].time
                           && this.tablestatus[k].booked===1
                       ){
                           tof = true
                           return tof
                       }
                   }
            },

//操作可选日期
    book:function(ye,m,d,t,index,i){
            for(b in this.tablestatus){
                if(
                    ye=== new Date(this.tempdatelists[b]).getFullYear() &&
                    m=== new Date(this.tempdatelists[b]).getMonth() + 1 &&
                    d=== new Date(this.tempdatelists[b]).getDate()&&
                    t === this.tablestatus[b].time
                ){
                    if(this.tablestatus[b].booked===0)
                    {this.tablestatus[b].booked=1}else
                    {this.tablestatus[b].booked=0 }
                }
            }
},


            // 上一周
            upWeek: function () {
                if( this.ei-this.si<6){
                    this.ei=this.si+6
                }
                this.si = this.si - 7
                this.ei = this.ei - 7
                if (this.si < 0) {
                    this.si = 0;
                    this.ei = 6;
                }
            },

            //下一周
            downWeek: function () {
                //  console.log(this.TdateLists.length)
                let tsi = this.si + 7
                let tei = this.ei + 7
                if (tei >= this.TdateLists.length) {
                    this.ei = this.TdateLists.length-1
                } else {
                    this.ei = this.ei + 7
                }
                this.si = this.si + 7
            },


            touchtoR:function (){
                document.querySelector(".cal-day").addEventListener('touchmove',
                    function(evt){
                        evt.preventDefault();
                        var touch=evt.touches[0];
                       var  end_x=parseInt(touch.pageX);
            if(end_x>300){
                var root=document.getElementsByClassName("cal-day")[0];
                root.style.cssText="right:50px";
              //  this.downWeek();
                return false
            }
                    }
                    , false);

            },

            touchtoL:function (){

            },


            selectime (t,i) {
                //这里获取所选数据
                this.timeclick_t=t;
                this.click1 = i;


            },
        }

    })
</script>
</html>