nav{background:#fff;box-shadow:0 5px 25px rgba(220,220,220,0.6);}
nav a{vertical-align: middle;
    color: #424242;}
nav .logo{
    background-image: url("../img/logoblue.png");
}
nav div span a{text-transform: none;text-decoration: none}
nav div span line{
    padding-left: 14px;
    padding-right: 14px;}
nav div span .blue{
    color: #007edb;}
.usertype_1 nav div span .blue{
    color: #e54a3a;}
.usertype_3 nav div span .blue{
    color: #83523b;}
nav div span a:first-child{
    background-image: url("../img/learner_b.png");background-repeat: no-repeat;background-position: left center;
    padding-left: 30px;}
.usertype_2 nav div span a:first-child{
	background-image: url("../img/tutor_b.png");
}
nav .on{
    color: #3fadff;}
nav .on::after {
    background: #3fadff;
    width: 40px;
    height: 2px;
    content: " ";
    top: 10px;
    position: relative;
}
.usertype_1 nav .on{
    color: #e54a3a;}
.usertype_1 nav .on::after {
    background: #e54a3a;
}

.usertype_3 nav .on{
    color: #83523b;}
.usertype_3 nav .on::after {
    background: #83523b;
}

.usertype_3 nav.wBG a.on{
	color: #83523b;
}
.usertype_3 nav.wBG a.on::after {
    background: #83523b;
}
.main{
    width: 100%;max-width: 500px;
    margin: 56px auto 80px auto;
}
.logform{
    width: 100%;vertical-align: top;
    display: inline-block;}
p.topT{
    font-size: 6rem;text-transform: uppercase;
    font-family: Fjalla;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    text-align: center;
    margin-bottom: 90px;
    display: flex;flex-direction: column;
    color: #1b76b7;}
p.topT::after{
    background: #e3f1fb;
    width: 320px;
    height: 16px;
    top: -15px;position: relative;z-index: -8;
   border-radius: 10px;content: "";display: inline-block;
}
.usertype_1 p.topT{color: #e54a3a;}
.usertype_1 p.topT::after{background: #f7c8c4;}

.usertype_3 p.topT{color: #83523b;}
.usertype_3 p.topT::after{background: #f7ede8;}
.logform dib{
    margin-bottom: 30px;
         width: 100%;}
.logform dib.w100{
    width: 100%;}
.logform dib label{
    padding-left: 4px;
	color: #555;
	}
.logform input::-webkit-input-placeholder { 
	color: rgba(85,85,85,.5); 
} 
.logform input:-moz-placeholder { 
	color: rgba(85,85,85,.5); 
} 
.logform input::-moz-placeholder { 
	color: rgba(85,85,85,.5); 
} 
.logform input:-ms-input-placeholder { 
	color: rgba(85,85,85,.5); 
}
.logform dib .border {
    position: absolute; left: 0; right: 0; bottom: 0;
    border-bottom: 1px solid #d7d7d7;
}
.logform dib input{
    width:100%;
    font-size: 16px;
    background: none;
    margin: 12px 0 12px 4px;
}
.logform dib input.veri{
    width: 76%;}
.logform dib input:focus ~ label{
    color: #555;
}
.logform dib input:focus ~ .border {
    border-color:#1b76b7;
}
.usertype_1  .logform dib input:focus ~ .border {
    border-color:#e54a3a;
}
.usertype_3  .logform dib input:focus ~ .border {
    border-color:#83523b;
}
.logform .vrimg{vertical-align: middle;
    width:95px;}
.logform dib span{
    color: #999;}
.logform input[type="submit"]{
    width: 260px;background: #007edb;
    font-size: 2.4rem;
    font-family: Fjalla;text-transform: uppercase;
    box-shadow:0 1px 20px rgba(220,220,220,0.8);
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    margin: 0 auto;
    display: block;}
.usertype_1  .logform input[type="submit"]{
    background: #e54a3a;
}
.usertype_3  .logform input[type="submit"]{
    background: #83523b;
}
.formal{
    width: 100%;
    justify-content: space-between;
    margin-top: 58px;
    font-size: 1.4rem;
    }
.formal p{color: #bcbcbc;}
.formal p a{font-style: italic}
.usertype_1 .formal p a{
    color: #e54a3a;}
.usertype_3 .formal p a{
    color: #83523b;}


.fg_hb{
	display: none;
}





.usertype_1 .fg_learner,.usertype_2 .fg_tutor,.usertype_3 .fg_partner{
	display: block;
}