<div class="mfmenu">
    <ul>
        <li><a href="{:url('about/index')}">About Us</a></li>
        <li><a href="{:url('about/terms')}">TERMS OF USE</a></li>
        <li><a href="{:url('about/contact')}">Contact Us</a></li>
        <li><a href="{:url('about/policy')}">PRIVACY POLICY</a></li>
        <li><a href="{:url('about/help')}">Help</a></li>
    </ul>
    <div class="sociala"><a href="###" class="mgetintouch" onclick="$('#verify_img').attr('src', $('#verify_img').attr('src'));"><img src="__HOME_IMG__/chat_w.png" alt=""></a><a class="mwx" href="###"><img class="dqc" src="{:get_file_path(config('cfg_wechat'))}" alt=""><img
            src="__HOME_IMG__/wx_w.png" alt=""></a><a href="###"><img src="__HOME_IMG__/facebook_w.png" alt=""></a><a
            href="###"><img src="__HOME_IMG__/twitter_w.png" alt=""></a></div>
</div>