
<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>Learner_register_{:config('web_site_title')}</title>
    <meta name="description" content="Find a native English speaker to practice speaking English online, improve speaking skills very fast.">
    <link rel="canonical" href="https://www.wespeakenglish.chat/index/register/learner.html"/>
    <link rel="stylesheet" href="__HOME_CSS__/easydropdown.css">
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/studentreg.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/studentreg_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a class="backar pn" href="javascript:history.go(-1);"></a>
    {include file="public/header"}
    <div class=""><span><a href="{:url('sign/learner')}" >Already a Learner</a><line>-</line><a class="blue" href="{:url('sign/learner')}">Sign in</a></span></div>
    <a class="blue pn" href="{:url('about/help')}">Registration guide</a>
</nav>
<style>/* format for hover email */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted orange;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: #EAFAF1;
  color: orange;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
    padding-top:10px;

    padding-right:10px;

    padding-bottom:10px;

    padding-left:10px;
  /* Position the tooltip */
  position: absolute;
  left: 0px;
  z-index: 1;
    font-size: 14px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>

<div class="main clearfix">
    <p class="topT">Register <a href="{:url('about/help')}">Registration guide</a></p>
    {include file="sign/social_buttons"}
    <form id="form_reg" method="post" action="{:url('post_learner')}" onsubmit="return chkform()">
    <div class="reform">
        <dib>
            <label >Country/Area<sup>*</sup> <spans class="mn"></spans></label>
            <div><select name="country_id" id="country_id">
                {volist name="countrys" id="vo"}
                <option value="{$vo.id}" {eq name="vo.id" value="44"}selected{/eq}>{$vo.country_name}</option>
                {/volist}
            </select><div class="border"></div></div>
             <p class="pn">Match the country</p>
        </dib>
        <dib>
            <label>Referral No.<sup></sup></label>
            <div><input placeholder="Referral's account number if you have" name="partner" id="partner" value="{:input('partner')}" type="text"><div class="border"></div></div>
        </dib>
        <dib>
            <label >Time zone<sup>*</sup></label>
            <div class="tooltip" style="color:orange;"><img src="__HOME_IMG__/qw.png" width="15" alt="">
  <span class="tooltiptext">Select the nearest major country/city name from the list as your time zone. Tutors come from various time zone which may differ from yours. If you set the wrong time zone, you would appoint your partner in an unexpected time slot. <br/>Google "my time zone" to check your real time zone.<br/>For example, Shanghai is in UTC +8, New York is in UTC -5, Melbourne is in UTC +10.</span>
</div>
            <div><select name="location" id="location">
                {volist name="locations" id="vo"}
                <option value="{$vo.id}" {eq name="vo.id" value="364"}selected{/eq}>(UTC{$vo.timezone|change_time}){$vo.location_name}</option>
                {/volist}
            </select><div class="border"></div></div>
        </dib>
        <dib>
            <label >Email<sup>*</sup></label>
            <div class="tooltip" style="color:orange;"><img src="__HOME_IMG__/qw.png" width="15" alt="">
  <span class="tooltiptext">Double check your email address and ensure it is correct. Otherwise, you will miss the verification email and all notifications.</span>
  </div>
            <div><input placeholder="Your login ID & receive notifications" name="email" id="email" type="text" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Name<sup>*</sup></label>
            <div><input placeholder=" " name="username" id="username" type="text" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Your first language<sup>*</sup></label>
            <div><select name="native_language" id="native_language">
                {foreach $native_language as $k=>$vo }
                <option value="{$k}">{$vo}</option>
                {/foreach}
            </select><div class="border"></div></div>
        </dib>
<!--        <dib>
            <label >Area reside in</label>
            <div><select name="location" id="location">
                {volist name="locations" id="vo"}
                <option value="{$vo.id}">{$vo.location_name}</option>
                {/volist}
            </select><div class="border"></div></div>
        </dib>-->
        <dib>
            <label >Years of learning English<sup>*</sup></label>
            <div>
				<span style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); color: rgba(85,85,85,.5);">year(s)</span>
				<input placeholder="0" type="text" name="learn_years" id="learn_years">
				<div class="border"></div>
			</div>
        </dib>
        <dib>
            <label >Goals of speaking English</label>
            <div><input placeholder="Improve speaking skills..." type="text" name="goals" id="goals"><div class="border"></div></div>
        </dib>
        <dib>
            <label>Password<sup>*</sup> <vtips class="pwd_msg"></vtips></label>
            <div><input placeholder="Enter the password" type="password" name="new_pass" id="new_pass" required><div class="border"></div></div>
        </dib>
        <dib>
            <label>Re-enter Password <vtips class="pwd_msg2"></vtips></label>
            <div><input placeholder="Repeat the password" type="password" name="new_pass2" id="new_pass2" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Speaking proficiency level<sup>*</sup></label>
            <div>
                {foreach $english_level as $k=>$vo }
                <input name="english_level" value="{$k}" id="level_{$k}" type="radio">
                <label value="{$k}" for="level_{$k}">{$vo}</label>
                {/foreach}
            </div>
        </dib>
        <dib >
          <!--  <label><textarea name="descr" id="descr" placeholder="Introduce yourself briefly" ></textarea><span class="textTips"><sup>*</sup> Please do not exceed 100 words</span></label>-->
                      <label >Introduce yourself<span class="textTips"><sup>*</sup> Please do not exceed 100 words</span></label>
            <div><textarea name="descr" id="descr" placeholder="Your backgroud, hobbies... " required></textarea></div>
        </dib>
        <dib>
            <label >Invitation code</label>
            <div><input placeholder="Optional-The code other learner sent to you" type="text" name="invitation_code" id="invitation_code"><div class="border"></div></div>
        </dib>
        <dib>
            <label >Security code</label>
            <div><input placeholder="Your calculation result" class="veri" type="text" name="verify_code" id="verify_code" required><span><img class="vrimg" src="" alt=""></span>
                <div class="border"></div>
            </div>
        </dib>
		<div class="agreementRow">
			<input name="agreement" value="agreement" id="agreement" type="checkbox">
			<label class="chbox" value="agreement" for="agreement"></label>I agree to <a href="/index/about/terms.html" target="_blank" style="font-style: oblique;">Terms of use</a> and <a href="/index/about/policy.html" target="_blank" style="font-style: oblique;">Privacy policy</a>.</div>
        <input type="submit" id="submit" value="Register">
		
        <p class="formal">Already a learner? <a href="{:url('sign/learner')}">Click here</a> to sign in</p>
    </div>
    </form>

</div>
<div class="footerHead">
    {include file="public/footer"}
</div>
<style>
	.edd-value {
	    
		height:58px;line-height:58px;
	}
	
	.edd-arrow {
	   
	    top:24px;
		
	}
	#submit[type="submit"]:disabled,
	#submit[type="submit"]:disabled:hover{
	    box-shadow:none;
	    cursor: default;
	    color: #c8c8c8;
	    background: #f8f8f8;
	}
</style>
</body>
<script src="__HOME_JS__/easydropdown.js"></script>
<script>
	var _agreement;
	if (document.getElementById('agreement').checked) {
		_agreement = 1;
		$('#submit').removeAttr('disabled');
	} else {
		_agreement = 0;
		$('#submit').attr('disabled','disabled');
		
	}
	
	$('#agreement').click(function () {
		if ($('#agreement').prop('checked') == true) {
			_agreement = 1;
			$('#submit').removeAttr('disabled');
			
		} else {
			$('#submit').attr('disabled','disabled');
			_agreement = 0;
		}
	})



    easydropdown.all();
    $('.nav_learner').addClass('on');
    $(document).on('click', '.vrimg', function () {
        $('.vrimg').attr('src', $('.vrimg').attr('src'));
    });
	
	
	var _agreement;
	if (document.getElementById('agreement').checked) {
	    _agreement = 1;
	} else {
	    _agreement = 0;
	}
	$('#agreement').click(function () {
		if ($('#agreement').prop('checked') == true) {
			_agreement = 1;
			$('.agreementRow').removeClass('red')
		} else {
			_agreement = 0;
		}
	})

    // $(document).on('keydown', '#descr', function () {
    //     console.log( $(this).val().length)
    //     if ($(this).val().length >= 100){
    //         $(this).css("background","#ffc4c4")
    //         $(this).val(    $(this).val().substr(0,100)    )
    //         $(this).siblings("span").css("color","#f00")
    //     }else {
    //         $(this).css("background","none")
    //         $(this).siblings("span").css("color","#999")
    //     }
    // });
	
	
	var valDom = document.getElementById("descr");
				var zLen;
				$("#descr").keyup(function(){
					zLen = 100;
					var str = valDom.value;//获取文本域的值
					//判断是否包含中文：if(/^[\u4e00-\u9fa5]/.test("名字"))        
					var regH = /^[\u4e00-\u9fa5]/;//汉字
					var regY = /^[a-zA-Z]/;//英文
					var regN=/\d/g;//数字
					var regK=/\s/g;//空格
					var regZ=/./g;//总长
					var strlen = str.length;
					if(strlen > 0){
						if(zLen < strlen){
							$(this).css("background","#fff")
							$(".textTips").css("color","#999")
						}
						for(var i=0;i<strlen;i++){
							var strIndex = str.charAt(i);
							if(regY.test(strIndex)){
								if(i+1<=strlen){
									var strNext = str.charAt(i+1);
									if(!regY.test(strNext)){
										//如果下一个不是英文
										zLen--;
										if(zLen<=0){
											limitNum(i,str);
											return false;
										}
									}
								}else{
									zLen--;
									if(zLen<=0){
										limitNum(i,str);
										return false;
									}
								}
							}else{
								var hflag = regH.test(strIndex);
								var nflag = regN.test(strIndex);
								if(hflag || nflag){
									zLen--;
									if(zLen<=0){
										limitNum(i,str);
										return false;
									}
								}
							}
						}
					}
				})
				function limitNum(i,str){
					 
					var newStr = str.substr(0, i+1);
					valDom.value = newStr;
					$(valDom).css("background","#ffc4c4")
					$(".textTips").css("color","#f00")
				}

    $(document).on('input', '#new_pass', function () {
        if ($(this).val().length<6 || $(this).val().length> 20){
            $('.pwd_msg').html('Password must between 6-20 in length!').show();
        }else {
            $('.pwd_msg').hide();
        }
    });


    var begin = 1;
    function chkform() {
		
        _new_pass = $('#new_pass').val();
        if (_new_pass.length <6 || _new_pass.length > 20) {
            $('.pwd_msg').html('Password must between 6-20 in length!').show();
            return false;
        } else {
            $('.pwd_msg').hide();
        }
        _new_pass2 = $('#new_pass2').val();
        if (_new_pass2.length <6 || _new_pass2.length > 20) {
            $('.pwd_msg2').html('Password must between 6-20 in length!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
        if (_new_pass != _new_pass2) {
            $('.pwd_msg2').html('Your passwords do not match!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
		
		
		 
		
		
        if (begin == 1) {
			if(_agreement == 0) {
				$('.agreementRow').addClass('red')
				return false;
			}else{
				var _data = $('#form_reg').serialize();
				showloading();
				begin = 0;
				$.ajax({
					url: $('#form_reg').attr('action'),
					data: _data,
					type: 'post',
					dataType: 'json',
					success: function (res) {
						console.log(res);
						showmsg(res.msg, res.code);
						if (res.code == 200) {
							setTimeout("location.href = '/index'", 10000);
						} else {
							$('#verify_code').val('');
							$('.vrimg').attr('src', $('.vrimg').attr('src'));
                            begin = 1;
						}
					}
				})
			}
        }
        return false;
    }
</script>
</html>
