<!DOCTYPE html>
<html lang="en">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4a6c48c79b79effb3722c8e5e07f391f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-190244183-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-190244183-1');
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title>partner_register_{:config('web_site_title')}</title>
    <link rel="canonical" href="https://www.wespeakenglish.chat/partner.html" />
    <link rel="stylesheet" href="__HOME_CSS__/easydropdown.css">
    <link rel="stylesheet" href="__HOME_CSS__/layout.css">
    <link rel="stylesheet" href="__HOME_CSS__/partnerreg.css">
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/partnerreg_m.css" media="(max-width: 750px) "/>
    {include file="public/header_js"}
		<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MTCT69F');</script>
	<!-- End Google Tag Manager -->
    <style type="text/css">
        .reform .learner_vv{
            display: none;
        }
    </style>
</head>
<body class="usertype_{$user_type} partner{$is_partner|default=0}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTCT69F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="dif">
    <a class="backar pn" href="javascript:history.go(-1);"></a>
    {include file="public/header"}
    <div class=""><span><a href="{:url('sign/partner')}" >Already a partner</a><line>-</line><a class="blue" href="{:url('sign/partner')}">Sign in</a></span></div><div class="hanbugrmenu pn"></div>
    {include file="public/menu"}
    <a class="blue pn" href="javascript:;" onclick="to_help()">Registration guide</a>
</nav>


<div class="agreementFix">
	<img src="__HOME_IMG__/closex.png" alt="">
	<div class="agreementMain">
		<div class="agreementTitle">REFERRAL AGREEMENT</div>
		<div class="tutor_vv">
			<p>This Referral Agreement (this “Agreement”), by and between you (“Referral Partner”) and <strong style="font-weight: bold;">WeSpeakEnglish. (“Company”)</strong>, is effective immediately as both parties agree.</p>
			<p><strong style="font-weight: bold;">WHEREAS</strong>, Company and Referral Partner desire to enter into an agreement pursuant to which Referral Partner (hereinafter, “Referrer”) may, from time to time, refer leads to the Company (hereinafter, “Recipient”), pursuant to which Referrer would be entitled to a fee in the event that such lead resulted in generated business by Recipient for which Recipient received consideration;</p>
			<p><strong style="font-weight: bold;">NOW, THEREFORE,</strong> in consideration of the mutual promises and covenants contained herein, Company and Referral Partner hereby agree as follows:</p>
			<p><strong style="font-weight: bold;">1.Referrals</strong>. Referral Partner may from time to time refer potential tutors (“Prospects”) to the Company, by completing the Prospects registration, account setting including but not limited setting availability, downloading and installing designated chat app on specific devices, to ensure the Prospects participate in the online chat successfully. Referrer is expected to cooperate with Recipient and, to the extent requested by Recipient, remain actively involved in Recipient’s sales campaign with respect to each Prospect referral and support Recipient’s solution as proposed by Recipient to the Prospect.</p>
			<p><strong style="font-weight: bold;">2.Compensation</strong>. In the event that the Prospect completes the online tutoring as Recipient assigned, Recipient shall pay a fee (the “Referral Fee”) to Referrer in an amount equal to [<i style="display: inline-block; background: #ffff00; font-weight: bold;">CAD {:config('cfg_commission_teacher')}</i> ] for each successful chat which Prospect makes. The Referral Fee will be deposited in the form of points into the Referrer’s account and the Referrers can redeem the points via their Paypal account under certain conditions:  </p>
			<p>(i)The Referer submits a withdrawal request, (ii)the interval between two withdrawals must be greater than two weeks, (iii)each payable amount must equal to or exceed CAD 20, (iv)the Referer bears the Paypal transfer fee. </p>
			<p>Referrer shall be responsible for any and all income and other taxes applicable to it in connection with its receipt of Referral Fee pursuant hereto and as an independent contractor of the Company. The Company will not be responsible for any expenses of the Referrer in the course of the performance of its obligations hereunder unless such expenses have been previously approved in writing by the Company.</p>
			<p><strong style="font-weight: bold;">3.Term</strong>; Termination. The initial term of this Agreement shall be for one year from and after the Effective Date. This Agreement shall automatically renew for additional one term following the expiration of the initial term, unless and until terminated by the Referrer at any time upon ten (10) days written notice. Notwithstanding the termination of this Agreement, Referrer shall be entitled to Referral Fees in accordance with the terms of Section 2 above.</p>
			<p><strong style="font-weight: bold;">4.Acting as Finder Only; Non-Exclusivity</strong>. It is understood that Referrer is acting as a finder only and shall have no authority to enter into any agreements, obligations or commitments on Recipient’s behalf, or to negotiate the terms of Prospects’ agreements with Recipient. Referrer acknowledges that Recipient may enter into referral agreements or other similar arrangements with other parties and that Referrer shall have no rights under such agreements or to any fees for customers referred to Recipient by others or identified by Recipient itself.</p>
			<p><strong style="font-weight: bold;">5.Relationship</strong>. Company and Referral Partner acknowledge and agree that the relationship created by this Agreement is that of an independent contractor. Nothing contained in this Agreement shall be construed to constitute either party as an employee or joint venturer of or with the other party. Neither party shall have any authority to bind the other in any respect, it being intended that each party hereto is and shall remain an independent contractor responsible for its own actions. </p>
			<p><strong style="font-weight: bold;">6.Representations and Warranties</strong>. Each of Referrer and Company represents and warrants that: (i) it has the right to enter into this Agreement and the right to grant the rights granted herein; (ii) it is not a party to any agreement, contract, or understanding that would prevent, limit or hinder its performance of this Agreement; and (iii) it is not a party to any pending claims or litigation which might affect its performance of this Agreement.</p>
			<p><strong style="font-weight: bold;">7.Indemnification. </strong></p>
			<p>The Parties agree not to indemnify and hold one another harmless. This also applies to their affiliates, agents, officers, employees, and/or successors. The Parties in this Agreement hereby in addition agree to assign against all (if any) claims, liabilities, damages, losses, penalties, punitive damages, expenses, any reasonable legal fees and/or costs of any kind or any amount that may arise. This includes, but is not limited to, any amount which may result from the negligence of or the breach of this Agreement by the party that is indemnified, its successors and assigns that occurs in terms of this Agreement. </p>
			<p>This section will remain in full force and tact as well as effect even upon the termination of the Agreement naturally or the early termination by either of the Parties.</p>
			<p><strong style="font-weight: bold;">8.Limitation of Liability.</strong> Under no circumstances shall either party be liable for any indirect, incidental, economic, special, punitive or consequential damages, whether for breach of contract, negligence or under any other cause of action, that result from the referral of Prospects contemplated by this Agreement.</p>
			<p><strong style="font-weight: bold;">9.Confidentiality.</strong> Each party hereto acknowledges that by reason of its relationship to the other party hereunder, it may have access to certain information and material concerning the other party’s business, plans, customers, technology, intellectual property, proprietary information, services and products, all of which are confidential and of substantial value to the other party, which value would be impaired if such information were disclosed to third parties. Accordingly, each party hereto agrees that it will not use in any way for its own account or the account of any third party, nor disclose to any third party, any such confidential information revealed to it by the other party. In the event of termination of this Agreement, there shall be no use or disclosure by either party of any confidential information of the other party and any materials related to the other party shall be immediately returned to the disclosing party. </p>
			<p><strong style="font-weight: bold;">10.Entire Agreement.</strong> This Agreement constitutes the entire understanding between the parties with respect to the subject matter hereof and may not be altered or amended except in writing signed by both parties.</p>
			<p><strong style="font-weight: bold;">11.Governing Law. </strong>This Agreement and performance hereunder shall be governed by the laws of the province of Ontario, Canada, without regard to conflicts of laws. Any action or proceeding based on this Agreement shall be brought only in the state or federal courts located in the County of Canada, Province of Ontario, and both parties agree to submit to the exclusive personal jurisdiction of such courts. Process in any such action or proceeding may be served on either party anywhere in the world. Company and Referral Partner agree that the prevailing party in any such action or proceeding shall be entitled to recover the reasonable attorneys’ fees and costs incurred by such party in the course of prosecuting or defending any lawsuit brought under this Agreement. </p>
			<p><strong style="font-weight: bold;">12.Severability.</strong> In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions should continue in full force and effect as valid and enforceable.</p> 
			<p><strong style="font-weight: bold;">13.Survival.</strong> The terms of this Agreement shall survive the term of this Agreement and shall bind and inure to the benefit of the successors, assigns, personal representatives, heirs and legates of all parties.</p>
			<p><strong style="font-weight: bold;">14.Counterparts.</strong> This Agreement may be executed in one or more counterparts, each of which shall be deemed an original and all of which, when taken together, shall constitute one and the same instrument.</p>
		</div>
		
		<div class="learner_vv" style="display: none;">
			<p>This Referral Agreement (this “Agreement”), by and between you (“Referral Partner”) and <strong style="font-weight: bold;">WeSpeakEnglish. (“Company”)</strong>, is effective immediately as both parties agree.</p>
			<p><strong style="font-weight: bold;">WHEREAS</strong>, Company and Referral Partner desire to enter into an agreement pursuant to which Referral Partner (hereinafter, “Referrer”) may, from time to time, refer leads to the Company (hereinafter, “Recipient”), pursuant to which Referrer would be entitled to a fee in the event that such lead resulted in generated business by Recipient for which Recipient received consideration;</p>
			<p><strong style="font-weight: bold;">NOW, THEREFORE</strong>, in consideration of the mutual promises and covenants contained herein, Company and Referral Partner hereby agree as follows:</p>
			<p><strong style="font-weight: bold;">1.Referrals</strong>. Referral Partner may from time to time refer potential tutors (“Prospects”) to the Company, by completing the Prospects registration, account setting including but not limited setting availability, downloading and installing designated chat app on specific devices, to ensure the Prospects participate in the online chat successfully. Referrer is expected to cooperate with Recipient and, to the extent requested by Recipient, remain actively involved in Recipient’s sales campaign with respect to each Prospect referral and support Recipient’s solution as proposed by Recipient to the Prospect.</p>
			<p><strong style="font-weight: bold;">2.Compensation</strong>. In the event that the Prospect completes the online tutoring as Recipient assigned, Recipient shall pay a fee (the “Referral Fee”) to Referrer in an amount equal to [<i style="display: inline-block; background: #ffff00; font-weight: bold;">USD {:config('cfg_commission_student')}</i> ]for each successful chat which Prospect makes.]. The Referral Fee will be deposited in the form of points into the Referrer’s account and the Referrers can redeem the points via their Paypal account under certain conditions:  </p>
			<p>(i)The Referer submits a withdrawal request, (ii)the interval between two withdrawals must be greater than two weeks, (iii) each payable amount must equal to or exceed USD 20,(iv)the Referer bears the Paypal transfer fee.</p>
			<p>Referrer shall be responsible for any and all income and other taxes applicable to it in connection with its receipt of Referral Fee pursuant hereto and as an independent contractor of the Company. The Company will not be responsible for any expenses of the Referrer in the course of the performance of its obligations hereunder unless such expenses have been previously approved in writing by the Company.</p>
			<p><strong style="font-weight: bold;">3.Term</strong>; Termination. The initial term of this Agreement shall be for one year from and after the Effective Date. This Agreement shall automatically renew for additional one term following the expiration of the initial term, unless and until terminated by the Referrer at any time upon ten (10) days written notice. Notwithstanding the termination of this Agreement, Referrer shall be entitled to Referral Fees in accordance with the terms of Section 2 above.</p>
			<p><strong style="font-weight: bold;">4.Acting as Finder Only; Non-Exclusivity</strong>. It is understood that Referrer is acting as a finder only and shall have no authority to enter into any agreements, obligations or commitments on Recipient’s behalf, or to negotiate the terms of Prospects’ agreements with Recipient. Referrer acknowledges that Recipient may enter into referral agreements or other similar arrangements with other parties and that Referrer shall have no rights under such agreements or to any fees for customers referred to Recipient by others or identified by Recipient itself.</p>
			<p><strong style="font-weight: bold;">5.Relationship</strong>. Company and Referral Partner acknowledge and agree that the relationship created by this Agreement is that of an independent contractor. Nothing contained in this Agreement shall be construed to constitute either party as an employee or joint venturer of or with the other party. Neither party shall have any authority to bind the other in any respect, it being intended that each party hereto is and shall remain an independent contractor responsible for its own actions. </p>
			<p><strong style="font-weight: bold;">6.Representations and Warranties</strong>. Each of Referrer and Company represents and warrants that: (i) it has the right to enter into this Agreement and the right to grant the rights granted herein; (ii) it is not a party to any agreement, contract, or understanding that would prevent, limit or hinder its performance of this Agreement; and (iii) it is not a party to any pending claims or litigation which might affect its performance of this Agreement.</p>
			<p><strong style="font-weight: bold;">7.Indemnification.</strong> </p>
			<p>The Parties agree not to indemnify and hold one another harmless. This also applies to their affiliates, agents, officers, employees, and/or successors. The Parties in this Agreement hereby in addition agree to assign against all (if any) claims, liabilities, damages, losses, penalties, punitive damages, expenses, any reasonable legal fees and/or costs of any kind or any amount that may arise. This includes, but is not limited to, any amount which may result from the negligence of or the breach of this Agreement by the party that is indemnified, its successors and assigns that occurs in terms of this Agreement. </p>
			<p>This section will remain in full force and tact as well as effect even upon the termination of the Agreement naturally or the early termination by either of the Parties.</p>
			<p><strong style="font-weight: bold;">8.Limitation of Liability</strong>. Under no circumstances shall either party be liable for any indirect, incidental, economic, special, punitive or consequential damages, whether for breach of contract, negligence or under any other cause of action, that result from the referral of Prospects contemplated by this Agreement.</p>
			<p><strong style="font-weight: bold;">9.Confidentiality</strong>. Each party hereto acknowledges that by reason of its relationship to the other party hereunder, it may have access to certain information and material concerning the other party’s business, plans, customers, technology, intellectual property, proprietary information, services and products, all of which are confidential and of substantial value to the other party, which value would be impaired if such information were disclosed to third parties. Accordingly, each party hereto agrees that it will not use in any way for its own account or the account of any third party, nor disclose to any third party, any such confidential information revealed to it by the other party. In the event of termination of this Agreement, there shall be no use or disclosure by either party of any confidential information of the other party and any materials related to the other party shall be immediately returned to the disclosing party. </p>
			<p><strong style="font-weight: bold;">10.Entire Agreement</strong>. This Agreement constitutes the entire understanding between the parties with respect to the subject matter hereof and may not be altered or amended except in writing signed by both parties.</p>
			<p><strong style="font-weight: bold;">11.Governing Law</strong>. This Agreement and performance hereunder shall be governed by the laws of the province of Ontario, Canada, without regard to conflicts of laws. Any action or proceeding based on this Agreement shall be brought only in the state or federal courts located in the County of Canada, Province of Ontario, and both parties agree to submit to the exclusive personal jurisdiction of such courts. Process in any such action or proceeding may be served on either party anywhere in the world. Company and Referral Partner agree that the prevailing party in any such action or proceeding shall be entitled to recover the reasonable attorneys’ fees and costs incurred by such party in the course of prosecuting or defending any lawsuit brought under this Agreement. </p>
			<p><strong style="font-weight: bold;">12.Severability</strong>. In the event any provision of this Agreement is deemed invalid or unenforceable, in whole or in part, that part shall be severed from the remainder of the Agreement and all other provisions should continue in full force and effect as valid and enforceable. </p>
			<p><strong style="font-weight: bold;">13.Survival</strong>. The terms of this Agreement shall survive the term of this Agreement and shall bind and inure to the benefit of the successors, assigns, personal representatives, heirs and legates of all parties.</p>
			<p><strong style="font-weight: bold;">14.Counterparts</strong>. This Agreement may be executed in one or more counterparts, each of which shall be deemed an original and all of which, when taken together, shall constitute one and the same instrument.</p>
		</div>
		
		
	</div>
	<div class="agreementFoot">
		<a href="javascript:;" class="agreementBtn">I agree</a>
	</div>
</div>

<div class="main clearfix">
    <p class="topT">Register <a href="javascript:;" onclick="to_help()">Registration guide</a></p>
    <form id="form_reg" method="post" action="{:url('post_partner')}" onsubmit="return chkform()">
        <input type="hidden" name="user_type" id="user_type" value="2" />
    <div class="reform">
		<div style="padding: 0 0 15px 4px;">
			<label style="font-weight: bold; color: #555;">I invite<sup style="color: red;">*</sup> <spans class="country_msg"></spans></label>
		</div>
		<div class="partnerTabRow">
			<dib><input value="TUTORS" type="button" class="partnerTabNav partnerTab_2 active" onclick="set_type('tutor', 2)"></dib>
			<dib><input value="LEARNERS" type="button" class="partnerTabNav partnerTab_1" onclick="set_type('learner', 1)"></dib>
		</div>
        <div class="clearfix"></div>
		<div style="overflow: hidden; width: 100%;">
			<dib style="display: block; width: 100%; position: relative;">
				<div class="partnerRate tutor_vv">Rate <i>CAD {:config('cfg_commission_teacher')}/ chat </i></div>
				<div class="partnerRate learner_vv">Rate<i>USD {:config('cfg_commission_student')}/ chat </i></div>
			    <label >Referral Agreement<sup>*</sup> <spans class="province_mn"></spans></label>
			    <div class="agreementClick">
					<div style="padding: 20px 5px; text-decoration: underline; font-style: oblique;"><i class="iconfont iconcheck"></i>Review and accept the referral agreement before proceeding</div>
					<div class="border"></div>
				</div>
			</dib>
		</div>
		 <div class="clearfix"></div>
		 
        <dib class="tutor_vv">
            <label >Your Country/Area<sup>*</sup> <spans class="country_msg"></spans></label>
            <div><select name="country_id" id="country_id" onchange="get_regions(this.value, 'province', 1)">
                <option value="">Select</option>
                {volist name="countrys" id="vo"}
                <option value="{$vo.id}">{$vo.country_name}</option>
                {/volist}
            </select><div class="border"></div></div>
           <!-- <p class="pn">Match the country</p>-->
        </dib>
        <dib class="tutor_vv">
            <label >Province/State<sup>*</sup> <spans class="province_mn"></spans></label>
            <div><select name="province" id="province" onchange="get_regions(this.value, 'city', 2)">
                <option value="">Select</option>
            </select><div class="border"></div></div>
        </dib>
        <dib class="tutor_vv">
            <label >City<sup>*</sup> <spans class="city_mn"></spans></label>
            <div><select name="city" id="city">
                <option value="">Select</option>
            </select><div class="border"></div></div>
        </dib>

        <dib class="learner_vv" style="display: none;">
            <label >Your Country/Area<sup>*</sup> <spans class="country_msg2"></spans></label>
            <div><select name="country_id2" id="country_id2">
                {volist name="countrys2" id="vo"}
                <option value="{$vo.id}" {eq name="vo.id" value="44"}selected{/eq}>{$vo.country_name}(+{$vo.quhao})</option>
                {/volist}
            </select><div class="border"></div></div>
            <!--<p class="pn">Match the country</p>-->
        </dib>

        <dib>
            <label >Name<sup>*</sup></label>
            <div><input placeholder=" " name="username" autocomplete="off" id="username" type="text" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Email<sup>*</sup></label>
            <div><input placeholder="Your login ID & receive notification" name="email" autocomplete="off" id="email" type="text" required><div class="border"></div></div>
        </dib>

        <dib>
            <label >Paypal account<sup class="tutor_vv">*</sup></label>
            <div><input placeholder="Enter your Paypal account" name="paypal_account" id="paypal_account" type="text"><div class="border"></div></div>
        </dib>

        <dib>
            <label >Password<sup>*</sup> <vtips class="pwd_msg"></vtips></label>
            <div><input placeholder="Enter the password" type="password" name="new_pass" autocomplete="new-password"  id="new_pass" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Re-enter Password<sup>*</sup> <vtips class="pwd_msg2"></vtips></label>
            <div><input placeholder="Repeat the password" type="password" name="new_pass2" id="new_pass2" required><div class="border"></div></div>
        </dib>
        <dib>
            <label >Cell phone <vtips class=""></vtips></label>
            <div><input placeholder="Optional" type="text" name="mobile" id="mobile"><div class="border"></div></div>
        </dib>
        <dib>
            <label >Security code<sup>*</sup></label>
            <div><input placeholder="Input your calculation result" class="veri" type="text" name="verify_code" id="verify_code" required><div class="border"></div><span><img class="vrimg" src="" alt=""></span></div>
        </dib>
		<div class="agreementRow">
			<span>
				<input name="agreement" value="agreement" id="agreement" type="checkbox">
				<label class="chbox" value="agreement" for="agreement"></label>I agree to <a target="_blank" href="/index/about/terms.html" target="_blank" style="font-style: oblique;">Terms of use</a> and <a href="/index/about/policy.html" target="_blank" target="_blank" style="font-style: oblique;">Privacy policy</a>
			</span>
			
			<span>
				<input name="accept_email" value="1" id="accept_email" type="checkbox">
				<label class="chbox" value="accept_email" for="accept_email"></label>Daily email notification
			</span>
		</div>
			
			
			
			
			
		<input type="submit" id="submit" value="Register" class="">
        <p class="formal">Already a partner ?  <a href="{:url('sign/partner')}">Click here</a> to sign in</p>
    </div>
    </form>
</div>
<popbg style="opacity: 0;"></popbg>
<div class="footerHead">
    {include file="public/footer"}
</div>
<style>
	.edd-value {
	    
		height:58px;line-height:58px;
	}
	
	.edd-arrow {
	   
	    top:24px;
		
	}
</style>
</body>
<script src="__HOME_JS__/easydropdown.js"></script>
<script>
var _agreement,isOk=false;
	if (document.getElementById('agreement').checked && isOk) {
	    _agreement = 1;
		$('#submit').removeAttr('disabled');
	} else {
	    _agreement = 0;
		$('#submit').attr('disabled','disabled');
		
	}
	$('#agreement').click(function () {
		if ($('#agreement').prop('checked') == true && isOk) {
			
			_agreement = 1;
			$('.agreementRow').removeClass('red')
			$('#submit').removeAttr('disabled');
			
		} else {
			$('#submit').attr('disabled','disabled');
			_agreement = 0;
		}
	})
	
$(document).on('click', '.agreementBtn', function () {
	isOk = true
	if (document.getElementById('agreement').checked && isOk) {
	    _agreement = 1;
		$('#submit').removeAttr('disabled');
	} else {
	    _agreement = 0;
		$('#submit').attr('disabled','disabled');
	}
	$('.agreementClick').addClass('active')
})

var valDom = document.getElementById("descr");
			var zLen;
			$("#descr").keyup(function(){
				zLen = 100;
				var str = valDom.value;//获取文本域的值
				//判断是否包含中文：if(/^[\u4e00-\u9fa5]/.test("名字"))        
				var regH = /^[\u4e00-\u9fa5]/;//汉字
				var regY = /^[a-zA-Z]/;//英文
				var regN=/\d/g;//数字
				var regK=/\s/g;//空格
				var regZ=/./g;//总长
				var strlen = str.length;
				if(strlen > 0){
					if(zLen < strlen){
						$(this).css("background","#fff")
						$(".textTips").css("color","#999")
					}
					for(var i=0;i<strlen;i++){
						var strIndex = str.charAt(i);
						if(regY.test(strIndex)){
							if(i+1<=strlen){
								var strNext = str.charAt(i+1);
								if(!regY.test(strNext)){
									//如果下一个不是英文
									zLen--;
									if(zLen<=0){
										limitNum(i,str);
										return false;
									}
								}
							}else{
								zLen--;
								if(zLen<=0){
									limitNum(i,str);
									return false;
								}
							}
						}else{
							var hflag = regH.test(strIndex);
							var nflag = regN.test(strIndex);
							if(hflag || nflag){
								zLen--;
								if(zLen<=0){
									limitNum(i,str);
									return false;
								}
							}
						}
					}
				}
			})
			function limitNum(i,str){
				 
				var newStr = str.substr(0, i+1);
				valDom.value = newStr;
				$(valDom).css("background","#ffc4c4")
				$(".textTips").css("color","#f00")
			}
	
    // easydropdown.all();
    $('.nav_partner').addClass('on');
    $(document).on('click', '.vrimg', function () {
        $('.vrimg').attr('src', $('.vrimg').attr('src'));
    });

    $(document).on('input', '#price', function () {
        if ($(this).val()>18){
            $(this).css("color","#f00")
        }else {
            $(this).css("color","#555")
        }
    });

    $(document).on('input', '#new_pass', function () {
        if ($(this).val().length<6 || $(this).val().length> 20){
            $('.pwd_msg').html('Password must between 6-20 in length!').show();
        }else {
            $('.pwd_msg').hide();
        }
    });


    var begin = 1;
    function chkform() {
        _user_type = $('#user_type').val();
        if (_user_type == 2) {
            if (!$('#country_id').val()) {
                showmsg('Please select Country!',201);
                return false;
            }
            if (!$('#paypal_account').val()) {
                showmsg('Please enter Paypal account!', 201);
                return false;
            }
            if (!$('#province').val()) {
                showmsgv('Please select Province/State!', 201);
                return false;
            }
            if (!$('#city').val()) {
                showmsg('Please select City!', 201);
                return false;
            }
        } else {
            if (!$('#country_id2').val()) {
                showmsg('Please select Country!', 201);
                return false;
            }
        }

        _new_pass = $('#new_pass').val();
        if (_new_pass.length <6 || _new_pass.length > 20) {
            $('.pwd_msg').html('Password length is between 6-20!').show();
            return false;
        } else {
            $('.pwd_msg').hide();
        }
        _new_pass2 = $('#new_pass2').val();
        if (_new_pass2.length <6 || _new_pass2.length > 20) {
            $('.pwd_msg2').html('Password length is between 6-20!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
        if (_new_pass != _new_pass2) {
            $('.pwd_msg2').html('Your passwords do not match!').show();
            return false;
        } else {
            $('.pwd_msg2').hide();
        }
        if (begin == 1) {
			if(_agreement == 0) {
				$('.agreementRow').addClass('red')
				return false;
			}else{
				var _data = $('#form_reg').serialize();
				showloading();
				// begin = 0;
				$.ajax({
					url: $('#form_reg').attr('action'),
					data: _data,
					type: 'post',
					dataType: 'json',
					success: function (res) {
                        showmsg(res.msg, res.code);
						if (res.code == 200) {
							setTimeout("location.href = '/index'", 10000);
						} else {
							$('#verify_code').val('');
							$('.vrimg').attr('src', $('.vrimg').attr('src'));
                            begin = 1;
						}
					}
				})
			}
        }
        return false;
    }

    function get_regions(_cid, _objname, _t) {
        var _obj = document.getElementById(_objname);
        if (_t==1) {
            document.getElementById('city').length = 1;
        } else {
            _obj = document.getElementById(_objname);
        }
        _obj.length = 1;
        $.ajax({
            url: '/index/register/get_regions',
            data: {pid: _cid, type: _t},
            dataType: 'json',
            success: function (res) {
                for(var i=0, l=res.length; i<l; i++){
                    _obj.add(new Option(res[i].region_name,res[i].id));
                }
            }
        })
    }
    function set_type(_t, user_type) {
        $('#user_type').val(user_type);
        if (user_type == 2) {
			$('.partnerTab_2').addClass('active')
			$('.partnerTab_1').removeClass('active')
            $('.tutor_vv').show();
            $('.learner_vv').hide();
        } else {
			$('.partnerTab_1').addClass('active')
			$('.partnerTab_2').removeClass('active')
            $('.tutor_vv').hide();
            $('.learner_vv').show();
        }
    }
	$(document).on('click', '.agreementClick', function () {
		$("popbg").fadeIn(300);
		$('.agreementFix').fadeIn(300)
	})
	
	$(document).on('click', '.agreementFix>img,.agreementBtn', function () {
		$('.agreementFix').fadeOut(300)
		$("popbg").fadeOut(300);
	})

$('.nav_parnter').addClass('on');
    function to_help() {
        var _type = $('#user_type').val();
        location.href = '/index/about/partner?type_id=' + _type;
    }
</script>
</html>