<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__HOME_JS__/jquery-1.11.2.min.js"></script>
</head>
<body>
<form method="post">
课程ID：<input type="text" name="class_id" value="" /><br/>
    动作：<select name="act">
    <option value="1">课程开始</option>
    <option value="2">课程暂停</option>
    <option value="3">课程继续</option>
    <option value="4">课程退出</option>
    <option value="5">课程完成</option>
</select><br/>
    <input type="submit" value="发送" name="submit">
</form>
</body>
</html>