<footnav class="pn">
    {eq name="user_type" value="2"}
    <!-- 老师 -->
    <a href="{:url('member/calendar')}" id="foot_a_1"><img src="__HOME_IMG__/mytable.png" alt=""></a>
    <a href="{:url('member/schedule')}" id="foot_a_2"><img src="__HOME_IMG__/Timetable.png" alt=""></a>
    <a href="{:url('member/classs')}" id="foot_a_3"><img src="__HOME_IMG__/myclass.png" alt=""></a>
    <a href="{:url('member/accounts')}" id="foot_a_4"><img src="__HOME_IMG__/abalance.png" alt=""></a>
    <a href="{:url('member/share')}" id="foot_a_5"><img src="__HOME_IMG__/msg.png" alt=""></a>
    {else}
    <a href="{:url('tutors/index')}" id="foot_a_1"><img src="__HOME_IMG__/hat.png" alt=""></a>
    <a href="{:url('member/orders')}" id="foot_a_6"><img src="__HOME_IMG__/mycart.png" alt=""></a>
    <a href="{:url('member/schedule')}" id="foot_a_2"><img src="__HOME_IMG__/Timetable.png" alt=""></a>
    <a href="{:url('member/classs')}" id="foot_a_3"><img src="__HOME_IMG__/myclass.png" alt=""></a>
    <a href="{:url('member/accounts')}" id="foot_a_4"><img src="__HOME_IMG__/abalance.png" alt=""></a>
    <a href="{:url('member/share')}" id="foot_a_5"><img src="__HOME_IMG__/msg.png" alt=""></a>
    {/eq}
</footnav>